<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminDefault.html}">

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
				<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>주문 리스트 테이블 <small>관리자</small></h2>
								
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="card card-warning">
										<div class="card-header">
											<h3 class="card-title">
												<b>주문 조회</b>
											</h3>
										</div>
										<div class="card-body">
											<form  method="get">
												<div class="form-group row">
													<label class="col-sm-1 col-form-Label" style="text-align: center;">
														검색
													</label>
													<div class="col-sm-2">
														<select name="searchKey" class="form-control ">
															<option>전체검색</option>
															<option>어때괜찮니</option>
															<option>넌 어때</option>
															<option>이제는 변했어</option>
														</select>
													</div>
													<div class="input-group input-group-m" style="width: 450px">
														<input type="text" name="searchValue" class="form-control" placeholder="검색어를 입력햊쉐요">
													</div>
													<div class="d-flex justify-content-center" style="margin-left: 10px;">
														<button type="button" class="btn btn-primary">검색 </button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>	
					
							<div class="card-body">
							
							<div class="x_content">
					
								<div class="table-responsive row">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">
												<th>
													<div class="icheckbox_flat-green" style="position: relative;"><input
															type="checkbox" id="check-all" class="flat">
													</div>
												</th>
												<th class="column-title" style="display: table-cell;">주문아이디</th>
												<th class="column-title" style="display: table-cell;">주문시설 이름</th>
												<th class="column-title" style="display: table-cell;">카테고리 </th>
												<th class="column-title" style="display: table-cell;">상품가격</th>
												<th class="column-title" style="display: table-cell;">주문일자</th>
												<th class="column-title" style="display: table-cell;">주문상태</th>
												<th class="column-title no-link last" style="display: table-cell;"><span
														class="nobr">상세보기</span>
												</th>
												<th class="bulk-actions" colspan="7" style="display: none;">
													<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
														<span class="action-cnt">1 Records Selected</span> ) <i
															class="fa fa-chevron-down"></i></a>
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer" th:if="${not #lists.isEmpty(orderList)}" th:each="order : ${orderList}">
												<td class="a-center ">
													<div class="icheckbox_flat-green" style="position: relative;"><input
															type="checkbox" class="flat" name="table_records"
															style="position: absolute; opacity: 0;"></div>
												</td>
												<td class=" " th:text="${order.userId}"></td>
												<td class=" " th:text="${order.facility.facilityNm}">땡떙체육관</td>
												<td class=" " th:text="${order.goodsCtgCd}"> </td>
												<td class=" " th:text="${order.orderPrice}"> <i class="success fa fa-long-arrow-up"></i></td>
												<td class=" " th:text="${order.orderRegDate}"></td>
												<td class=" " th:text="${order.orderPayState}"></td>
												<td class=" last"><a th:href="@{/admin/order/orderDetail(orderCd=${order.orderCd},goodsCtgCd=${order.goodsCtgCd})}">View</a>
												</td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(orderList)}">
												<td colspan="11">주문내역이 아직없습니다.</td>
											</tr>
										</tbody>
									</table>
								</div>


							</div>
							</div>
						</div>
					</div>
	</th:block>

</html>