<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminDefault.html}">

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">

	<div th:if="${not #strings.isEmpty(session.SID)}">
		<div th:if="${not #strings.isEmpty(session.SLEVEL)} and ${#strings.equals(session.SLEVEL,'1')}">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>주문 리스트 테이블 <small>관리자</small></h2>

						<div class="clearfix"></div>
					</div>
					
					
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="card card-warning">
								<div class="card-header">
									<h3 class="card-title">
										<b>주문 조회</b>
									</h3>
								</div>
								<div class="card-body">
									<form action="#" method="get">
										<div class="form row">
											<div class="form-group col-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<select class="form-control" id="exampleFormControlSelect1"
															name="searchKey" style="font-size: 14px;">
															<option value="ldgAddr">주문상태</option>
															<option value="ldgName">상품명</option>
														</select>
													</div>
													<input type="text" name="searchValue" class="form-control"
														id="formGroupExampleInput" placeholder="검색 키워드를 입력하세요."
														style="font-size: 14px;">
													<div class="input-group-prepend">
														<button type="button" class="btn btn-outline-danger"
															style="font-size: 14px; background: #ec5552; color: #fff;">검색</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="card-body">



								<div class="table-responsive row">
									<table class="table table-striped jambo_table bulk_action">
										<thead>
											<tr class="headings">

												<th class="column-title" style="display: table-cell;">주문아이디</th>
												<th class="column-title" style="display: table-cell;">주문시설 이름</th>
												<th class="column-title" style="display: table-cell;">카테고리 </th>
												<th class="column-title" style="display: table-cell;">상품가격</th>
												<th class="column-title" style="display: table-cell;">주문일자</th>
												<th class="column-title" style="display: table-cell;">주문상태</th>
												<th class="column-title no-link last" style="display: table-cell;"><span
														class="nobr">상세보기</span>
												</th>
												<th class="bulk-actions" colspan="7" style="display: none;">
													<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
														<span class="action-cnt">1 Records Selected</span> ) <i
															class="fa fa-chevron-down"></i></a>
												</th>
											</tr>
										</thead>

										<tbody>
											<tr class="even pointer" th:if="${not #lists.isEmpty(orderList)}"
												th:each="order : ${orderList}">
												<td class=" " th:text="${order.userId}"></td>
												<td class=" " th:text="${order.facility.facilityNm}">땡떙체육관</td>
												<td class=" " th:text="${order.goodsCtgCd}"> </td>
												<td class=" " th:text="${order.orderPrice}"> <i
														class="success fa fa-long-arrow-up"></i></td>
												<td class=" " th:text="${order.orderRegDate}"></td>
												<td class=" " th:text="${order.orderPayState}"></td>
												<td class=" last"><a
														th:href="@{/admin/order/orderDetail(orderCd=${order.orderCd},goodsCtgCd=${order.goodsCtgCd})}">View</a>
												</td>
											</tr>
											<tr th:unless="${not #lists.isEmpty(orderList)}">
												<td colspan="11">주문내역이 아직없습니다.</td>
											</tr>
										</tbody>
									</table>


								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div th:unless="${not #strings.isEmpty(session.SID)}">
		로그인이 필요한 서비스입니다.
	</div>

	<div th:unless="${not #strings.isEmpty(session.SLEVEL)} and ${#strings.equals(session.SLEVEL,'1')}">
		관리자 권한만 입장 하실 수 있습니다.
	</div>
</th:block>

</html>