<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default.html}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/vendors/moment/min/moment.min.js}"></script>
    	<script th:src="@{/vendors/fullcalendar/dist/fullcalendar.min.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
		
	</th:block>
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
	<!-- Product Details Section Begin -->
	
		<section class="product-details spad" th:fragment="productDetailsFragment">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="product__details__pic">
							<div class="product__details__pic__left product__thumb nice-scroll">
								<th:block th:if="${not #lists.isEmpty(lesson.tFile)}" th:each="t, i : ${lesson.tFile}">
									<a class="pt" th:data-img="${t.representImg}" th:href="@{#product-} + ${i.index+1}">
										<img th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
									</a>
								</th:block>
							</div>

							<div class="product__details__slider__content">
								<div class="product__details__pic__slider owl-carousel">
									<th:block  th:if="${not #lists.isEmpty(lesson.tFile)}" th:each="t, i : ${lesson.tFile}">									
										<img th:data-hash="@{product-} + ${i.index+1}" class="product__big__img" th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
									</th:block>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6">
						<div class="product__details__text">
							<h3>[[${lesson.lessonName}]]</h3>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<span>( 138 reviews )</span>
							</div>
							<div class="product__details__price">$ [[${lesson.lessonPrice}]]</div>
							<p th:text="${lesson.lessonDetail}"></p>
							<div class="product__details__button">
								<div class="quantity">
									<span>Quantity:</span>
									<div class="pro-qty">
										<input type="text" value="1">
									</div>
								</div>
								<button type="button" class="cart-btn" data-toggle="modal" data-target="#reservationModal">
									주문하기
								</button>
								<ul>
									<li>
										<a href="#">
											<span class="icon_heart_alt"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_adjust-horiz"></span>
										</a>
									</li>
								</ul>
							</div>
							<div class="product__details__widget">
								<ul>
									<li>
										<span>Availability:</span>
										<div class="stock__checkbox">
											<label for="stockin">
												In Stock
												<input type="checkbox" id="stockin">
												<span class="checkmark"></span>
											</label>
										</div>
									</li>
									<li>
										<span>Available color:</span>
										<div class="color__checkbox">
											<label for="red">
												<input type="radio" name="color__radio" id="red" checked>
												<span class="checkmark"></span>
											</label>
											<label for="black">
												<input type="radio" name="color__radio" id="black">
												<span class="checkmark black-bg"></span>
											</label>
											<label for="grey">
												<input type="radio" name="color__radio" id="grey">
												<span class="checkmark grey-bg"></span>
											</label>
										</div>
									</li>
									<li>
										<span>Available size:</span>
										<div class="size__btn">
											<label for="xs-btn" class="active">
												<input type="radio" id="xs-btn">
												xs
											</label>
											<label for="s-btn">
												<input type="radio" id="s-btn">
												s
											</label>
											<label for="m-btn">
												<input type="radio" id="m-btn">
												m
											</label>
											<label for="l-btn">
												<input type="radio" id="l-btn">
												l
											</label>
										</div>
									</li>
									<li>
										<span>Promotions:</span>
										<p>Free shipping</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="x_panel">
							<div class="x_title">
								<h2>Calendar Events <small>Sessions</small></h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											    <a class="dropdown-item" href="#">Settings 1</a>
											    <a class="dropdown-item" href="#">Settings 2</a>
											</div>
										</li>
										<li>
											<a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">						
								<div id='calendar'></div>						
							</div>>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="product__details__tab">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-1" role="tabpanel">
									<h6>Description</h6>
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
										quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
										Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
										voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
										consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
										consequat massa quis enim.
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
										dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
										nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
										quis, sem.
									</p>
								</div>
								<div class="tab-pane" id="tabs-2" role="tabpanel">
									<h6>Specification</h6>
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
										quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
										Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
										voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
										consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
										consequat massa quis enim.
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
										dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
										nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
										quis, sem.
									</p>
								</div>
								<div class="tab-pane" id="tabs-3" role="tabpanel">
									<h6>Reviews ( 2 )</h6>
									<p>
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
										quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
										Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
										voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
										consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
										consequat massa quis enim.
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
										dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
										nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
										quis, sem.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="related__title">
							<h5>RELATED PRODUCTS</h5>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
								<div class="label new">New</div>
								<ul class="product__hover">
									<li>
										<a href="img/product/related/rp-1.jpg" class="image-popup">
											<span class="arrow_expand"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_heart_alt"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_bag_alt"></span>
										</a>
									</li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>
									<a href="#">Buttons tweed blazer</a>
								</h6>
								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product__price">$ 59.0</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
								<ul class="product__hover">
									<li>
										<a href="img/product/related/rp-2.jpg" class="image-popup">
											<span class="arrow_expand"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_heart_alt"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_bag_alt"></span>
										</a>
									</li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>
									<a href="#">Flowy striped skirt</a>
								</h6>
								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product__price">$ 49.0</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
								<div class="label stockout">out of stock</div>
									<ul class="product__hover">
										<li>
											<a href="img/product/related/rp-3.jpg" class="image-popup">
												<span class="arrow_expand"></span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="icon_heart_alt"></span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="icon_bag_alt"></span>
											</a>
										</li>
									</ul>
								</div>
								<div class="product__item__text">
									<h6>
										<a href="#">Cotton T-Shirt</a>
									</h6>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product__price">$ 59.0</div>
								</div>
							</div>
						</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
								<ul class="product__hover">
									<li>
										<a href="img/product/related/rp-4.jpg" class="image-popup">
											<span class="arrow_expand"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_heart_alt"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon_bag_alt"></span>
										</a>
									</li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>
									<a href="#">Slim striped pocket shirt</a>
								</h6>
								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product__price">$ 59.0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- Product Details Section End -->
	

	<div class="modal" tabindex="-1" role="dialog" id="reservationModal" aria-labelledby="reservationModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="reservationModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class='col-md-3 col-xs-4'>
					    <div class="form-group">
					        <div class="input-group date" id="datetimepicker1" data-target-input="nearest" style="width: 230px;">
					            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" value="01/11/2020">
					            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					            </div>
					        </div>
					    </div>
					</div>
					<div class='col-md-3 col-xs-4'>
					    <div class="form-group">
					        <div class="input-group date" id="datetimepicker2" data-target-input="nearest" style="width: 230px;">
					            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" value="01/15/2020">
					            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/resource/js/detailLessonForUser.js"></script>
	</th:block>
</html>