<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/default.html}">

   
   
   
   <!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
   <!-- Product Details Section Begin -->
  

	<section class="product-details spad" th:fragment="productDetailsFragment">
		<div class="container">
			<div class="row">

				<div class="product__details__text col-lg-12">
				   <h3>[[${lesson.lessonName}]]</h3>
				</div>
				<div class="col-lg-7">
					<div class="product__details__pic">
						<div class="product__details__pic__left product__thumb nice-scroll">
							<th:block th:if="${not #lists.isEmpty(lesson.tFile)}" th:each="t, i : ${lesson.tFile}">
								<a class="pt" th:data-img="${t.representImg}" th:href="@{#product-} + ${i.index+1}">
									<img th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
								</a>
							</th:block>
						</div>
						<div class="product__details__slider__content">
							<div class="product__details__pic__slider owl-carousel">
								<th:block  th:if="${not #lists.isEmpty(lesson.tFile)}" th:each="t, i : ${lesson.tFile}">                           
									<img th:data-hash="@{product-} + ${i.index+1}" class="product__big__img" th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
								</th:block>
							</div>
						</div>
					</div>
				</div>
				<div class="product__details__widget col-lg-5" style="padding: 0px;">
					<table class="table table-striped table-bordered" border="1">
						<tr>
							<td>레슨 구분</td>
							<td th:text="${lesson.lessonDivision}"></td>
						</tr>
						<tr>
							<td>종목</td>
							<td th:text="${lesson.sports.sportsName}"></td>
						</tr>
						<tr>
							<td>시설 이름</td>
							<td th:text="${lesson.facility.facilityNm}"></td>
						</tr>
						<tr>
							<td>시설 주소</td>
							<td th:text="${lesson.facility.facilityAddr}"></td>
						</tr>
						<tr>
							<td>시설 번호</td>
							<td th:text="${lesson.facility.facilityTell}"></td>
						</tr>
						<tr>
							<td>레슨 정원</td>
							<td th:text="${lesson.lessonTotalMember}"></td>
						</tr>
						<tr>
							<td>레슨 시작 날짜</td>
							<td th:text="${lesson.lessonStartDate}"></td>
						</tr>
						<tr>
							<td>레슨 종료 날짜</td>
							<td th:text="${lesson.lessonEndDate}"></td>
						</tr>
					</table>
				</div>
				<div class="offset-lg-7 col-lg-5">
					<div class="product__details__text">      
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<span>( 138 reviews )</span>
						</div>
						<div class="product__details__price">$ [[${lesson.lessonPrice}]]</div>
						<div class="product__details__button">   
							<ul>
								<li>
								   <a href="#">
								      <span class="icon_heart_alt"></span>
								   </a>
								</li>
								<li>
								   <a href="#">
								      <span class="icon_adjust-horiz"></span>
								   </a>
								</li>
								<li>
								   <button type="button" class="cart-btn">
								      주문하기
								   </button>
								</li>
							</ul>
         				</div>      
					</div>
				</div>
				<div class="col-lg-12">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
						   <li class="nav-item">
						      <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
						   </li>
						   <li class="nav-item">
						      <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
						   </li>
						   <li class="nav-item">
						      <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
						   </li>
						</ul>
						<div class="tab-content">
						   <div class="tab-pane active" id="tabs-1" role="tabpanel">
						      <h6>Description</h6>
						      <p th:text="${lesson.lessonDetail}"></p>
						         
						      
						      <p>
						         Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
						         dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
						         nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
						         quis, sem.
						      </p>
						   </div>
						   <div class="tab-pane" id="tabs-2" role="tabpanel">
						      <h6>Specification</h6>
						      <p>
						         Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
						         quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
						         Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
						         voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
						         consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
						         consequat massa quis enim.
						      </p>
						      <p>
						         Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
						         dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
						         nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
						         quis, sem.
						      </p>
						   </div>
						   <div class="tab-pane" id="tabs-3" role="tabpanel">
						      <h6>Reviews ( 2 )</h6>
						      <p>
						         Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
						         quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
						         Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
						         voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
						         consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
						         consequat massa quis enim.
						      </p>
						      <p>
						         Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
						         dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
						         nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
						         quis, sem.
						      </p>
						   </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			   <div class="col-lg-12 text-center">
			      <div class="related__title">
			         <h5>RELATED PRODUCTS</h5>
			      </div>
			   </div>
			   <div class="col-lg-3 col-md-4 col-sm-6">
			      <div class="product__item">
			         <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
			            <div class="label new">New</div>
			            <ul class="product__hover">
			               <li>
			                  <a href="img/product/related/rp-1.jpg" class="image-popup">
			                     <span class="arrow_expand"></span>
			                  </a>
			               </li>
			               <li>
			                  <a href="#">
			                     <span class="icon_heart_alt"></span>
			                  </a>
			               </li>
			               <li>
			                  <a href="#">
			                     <span class="icon_bag_alt"></span>
			                  </a>
			               </li>
			            </ul>
			         </div>
			         <div class="product__item__text">
			            <h6>
			               <a href="#">Buttons tweed blazer</a>
			            </h6>
			            <div class="rating">
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			            </div>
			            <div class="product__price">$ 59.0</div>
			         </div>
			      </div>
			   </div>
			   <div class="col-lg-3 col-md-4 col-sm-6">
			      <div class="product__item">
			         <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
			            <ul class="product__hover">
			               <li>
			                  <a href="img/product/related/rp-2.jpg" class="image-popup">
			                     <span class="arrow_expand"></span>
			                  </a>
			               </li>
			               <li>
			                  <a href="#">
			                     <span class="icon_heart_alt"></span>
			                  </a>
			               </li>
			               <li>
			                  <a href="#">
			                     <span class="icon_bag_alt"></span>
			                  </a>
			               </li>
			            </ul>
			         </div>
			         <div class="product__item__text">
			            <h6>
			               <a href="#">Flowy striped skirt</a>
			            </h6>
			            <div class="rating">
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			               <i class="fa fa-star"></i>
			            </div>
			            <div class="product__price">$ 49.0</div>
			         </div>
			      </div>
			   </div>
			   <div class="col-lg-3 col-md-4 col-sm-6">
			      <div class="product__item">
			         <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
			            <div class="label stockout">out of stock</div>
			               <ul class="product__hover">
			                  <li>
			                     <a href="img/product/related/rp-3.jpg" class="image-popup">
			                        <span class="arrow_expand"></span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="icon_heart_alt"></span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="icon_bag_alt"></span>
			                     </a>
			                  </li>
			               </ul>
			            </div>
			            <div class="product__item__text">
			               <h6>
			                  <a href="#">Cotton T-Shirt</a>
			               </h6>
			               <div class="rating">
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			               </div>
			               <div class="product__price">$ 59.0</div>
			            </div>
			         </div>
			      </div>
			      <div class="col-lg-3 col-md-4 col-sm-6">
			         <div class="product__item">
			            <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
			               <ul class="product__hover">
			                  <li>
			                     <a href="img/product/related/rp-4.jpg" class="image-popup">
			                        <span class="arrow_expand"></span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="icon_heart_alt"></span>
			                     </a>
			                  </li>
			                  <li>
			                     <a href="#">
			                        <span class="icon_bag_alt"></span>
			                     </a>
			                  </li>
			               </ul>
			            </div>
			            <div class="product__item__text">
			               <h6>
			                  <a href="#">Slim striped pocket shirt</a>
			               </h6>
			               <div class="rating">
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			                  <i class="fa fa-star"></i>
			               </div>
			               <div class="product__price">$ 59.0</div>
						</div>
					</div>
				</div>
			</div>
		</div>
   </section>
   <!-- Product Details Section End -->
   
   <div class="modal" tabindex="-1" role="dialog" id="reservationModal" aria-labelledby="reservationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="reservationModalLabel">Modal title</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class='col-md-3 col-xs-4 resDate'>
                   날짜 : <input type="date">
               </div>
               <div class='col-md-3 col-xs-4 resTime'>
                  시간 : <input type="time">
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary"    data-dismiss="modal" id="regist">등록</button>
            </div>
         </div>
      </div>
   </div>
   <div class="modal" tabindex="-1" role="dialog" id="reservationModalCheck" aria-labelledby="reservationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="reservationModalLabel">Modal title</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <table border="1" >
                  <thead>
                     <tr>
                        <th>
                           예약 시간
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td th:each="num : ${#numbers.sequence(1,9)}" class="col-sm-1">
                           [[${num * 2 + 4}]]~[[${num * 2 + 6}]]
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary"    data-dismiss="modal" id="regist">등록</button>
            </div>
         </div>
      </div>
   </div>
   </th:block>
</html>