<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default.html}">

<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</th:block>
<th:block layout:fragment="customCss">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	 <style>
    h1 {
        text-align: center;
        margin-top: 230px;
        font-size: 90px;
    }
    h1 span:nth-child(1) {
        color:#4285f4;
    }
    h1 span:nth-child(2) {
        color:#ea4335;
    }
    h1 span:nth-child(3) {
        color:#fbbc05;
    }
    h1 span:nth-child(4) {
        color:#4285f4;
    }
    h1 span:nth-child(5) {
        color:#34a853;
    }
    h1 span:nth-child(6) {
        color:#ea4335;
    }
    .search-bar {
      width: 500px;
    }
  </style>
</th:block>
<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<!-- 이런식으로 넣으면 되겠죠? -->
	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a href="./index.html"><i class="fa fa-home"></i> Home</a>
						<span>Shop</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<form th:action="@{/lesson/lessonListForUser}" method="GET">
		<div class="row">
			<div class="mx-auto col-6 input-group">
				<p class="col-2">
					공공/사설 :
				</p>
				<select class="col-4" name="mainCtgCd">
					<option value="">:: 전체 ::</option>
					<option value="gg">공공</option>
					<option value="ss">사설</option>
				</select>
				<p class="col-2">
					종목 :
				</p>
				<select class="col-4" name="sportsCd">
					<option value="">:: 전체 ::</option>
					<th:block th:if="${not #lists.isEmpty(sportsList)}" th:each="s : ${sportsList}">
						<option th:value="${s.sportsCd}">[[${s.sportsName}]]</option>
					</th:block>
					<th:block th:unless="${not #lists.isEmpty(lesson.sports)}">
						<option>없음</option>
					</th:block>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="mx-auto col-6 input-group">
				<p class="col-2">
					시/도
				</p>
				<select class="col-4" name="areaCd" id="area">
					<option value="">:: 전체 ::</option>
					<th:block th:if="${not #lists.isEmpty(areaList)}" th:each="a : ${areaList}">
						<option th:value="${a.areaCd}">[[${a.areaNm}]]</option>
					</th:block>
					<th:block th:unless="${not #lists.isEmpty(areaList)}">
						<option>없음</option>
					</th:block>
				</select>
				<p class="col-2">
					시/군/구 :
				</p>
				<select class="col-4" name="CityCd" id="areaCity">
					<option value="">:: 전체 ::</option>
					<th:block th:if="${not #lists.isEmpty(areaCityList)}" th:each="acl : ${areaCityList}">
						<option th:value="${acl.cityCd}">[[${acl.cityNm}]]</option>
					</th:block>
					<th:block th:unless="${not #lists.isEmpty(areaCityList)}">
						
					</th:block>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="mx-auto col-6 search-bar input-group">
				<input name="sv" type="text" class="form-control rounded-pill" id="searchBar" placeholder="검색 또는 URL 입력" aria-label="Recipient's username" aria-describedby="button-addon2">
			</div>
		</div>
	</form>
	
	<section class="shop spad">
		<div class="container">
			<div class="row">
				<!-- shop 왼쪽 메뉴 -->
				<div th:replace="fragments/shopLeftMenu :: shopLeftMenuFragment"></div>
				<div class="col-lg-9 col-md-9">
					<div class="row">
						<th:block th:if="${not #lists.isEmpty(lessonList)}" th:each="l : ${lessonList}">
							<div class="col-lg-4 col-md-6">
								<th:block  th:if="${not #lists.isEmpty(l.tFile)}" th:each="t : ${l.tFile}">
									<div class="product__item">
										<div th:if="${t.representImg == 'Y'}">
											<div class="product__item__pic set-bg" th:data-setbg="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}"
													style="background-image: url(&quot;img/shop/shop-1.jpg&quot;);">
												<div class="label new">New</div>
												<ul class="product__hover">
													<li><a href="img/shop/shop-1.jpg" class="image-popup"><span
																class="arrow_expand"></span></a></li>
													<li><a href="#"><span class="icon_heart_alt"></span></a></li>
													<li><a href="#"><span class="icon_bag_alt"></span></a></li>
												</ul>
											</div>
											<div class="product__item__text">
												<h6><a th:href="@{/lesson/detailLessonForUser(lessonCd=${l.lessonCd})}" th:text="${l.lessonName}"></a></h6>
												<div class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product__price">$ [[${l.lessonPrice}]]</div>
											</div>
										</div>
										
									</div>
								</th:block>
								<th:block th:unless="${not #lists.isEmpty(l.tFile)}" >
									<div>
										<div class="product__item__pic set-bg"  th:data-setbg="@{/images/notImage.jfif}"
											style="background-image: url(&quot;img/shop/shop-1.jpg&quot;);">
											<div class="label new">New</div>
											<ul class="product__hover">
												<li><a href="img/shop/shop-1.jpg" class="image-popup"><span
															class="arrow_expand"></span></a></li>
												<li><a href="#"><span class="icon_heart_alt"></span></a></li>
												<li><a href="#"><span class="icon_bag_alt"></span></a></li>
											</ul>
										</div>
										
										<div class="product__item__text">
											<h6><a th:href="@{/lesson/detailLessonForUser(lessonCd=${l.lessonCd})}" th:text="${l.lessonName}"></a></h6>
											<div class="rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product__price">$ [[${l.lessonPrice}]]</div>
										</div>
									</div>
								</th:block>
							</div>
						</th:block>
						<th:block  th:unless="${not #lists.isEmpty(lessonList)}">
							<div class="col-lg-4 col-md-6">
								<div style="text-align: center;">등록된 게시물이 없습니다.</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
		
								
		<div style="text-align: center;">
			<a th:href="@{/lesson/lessonListForUser}">[맨처음]</a>
			<a th:if="${currentPage > 1}" th:href="@{/lesson/lessonListForUser(currentPage=${currentPage - 1})}">[이전]</a>
			<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
				<label th:if="${currentPage eq num}" th:text="${(num<10) ? '[0' + num +']' : '[' + num +']'}"></label>
				<a th:unless="${currentPage eq num}" th:href="@{/lesson/lessonListForUser(currentPage=${num})}" th:text="${(num<10) ? '[0' + num +']' : '[' + num +']'}"></a>
			</th:block>
			<a th:if="${currentPage < lastPage}" th:href="@{/lesson/lessonListForUser(currentPage=${currentPage + 1})}">[다음]</a>
			<a th:href="@{/lesson/lessonListForUser(currentPage=${lastPage})}">[마지막]</a>
		</div>
									
		
	</section>
	<div class="instagram">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201201/11/htm_201201110282260106011.jpg"
						style="background-image: url(&quot;img/instagram/insta-1.jpg&quot;);">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i>
							<a href="https://github.com/ssinokang/ks43team03">@ github</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201201/11/htm_201201110282260106011.jpg"
						style="background-image: url(&quot;img/instagram/insta-2.jpg&quot;);">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i>
							<a href="https://github.com/ssinokang/ks43team03">@ github</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="https://mblogthumb-phinf.pstatic.net/MjAyMDAzMDlfMTYg/MDAxNTgzNzQwODYzMzIx.G-mQe-KfVzbCEFQ3G0BAKEgzpSPMODgh7XbgsvMH55Ug._8IceGlMEBy41Qum1DCtyZPDBPmwn-EKZ7QUCdpGpL4g.JPEG.6406dud/skysports-bukayo-saka-arsenal_4923293.jpg?type=w800"
						style="background-image: url(&quot;img/instagram/insta-3.jpg&quot;);">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i>
							<a href="https://github.com/ssinokang/ks43team03">@ github</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="https://mblogthumb-phinf.pstatic.net/MjAyMDAzMDlfMTYg/MDAxNTgzNzQwODYzMzIx.G-mQe-KfVzbCEFQ3G0BAKEgzpSPMODgh7XbgsvMH55Ug._8IceGlMEBy41Qum1DCtyZPDBPmwn-EKZ7QUCdpGpL4g.JPEG.6406dud/skysports-bukayo-saka-arsenal_4923293.jpg?type=w800"
						style="background-image: url(&quot;img/instagram/insta-4.jpg&quot;);">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i>
							<a href="https://github.com/ssinokang/ks43team03">@ github</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="https://www.sports-g.com/wp-content/uploads/2016/11/20161124_160439.jpg"
						style="background-image: url(&quot;img/instagram/insta-5.jpg&quot;);">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i>
							<a href="https://github.com/ssinokang/ks43team03">@ github</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="https://www.sports-g.com/wp-content/uploads/2016/11/20161124_160439.jpg"
						style="background-image: url(&quot;img/instagram/insta-6.jpg&quot;);">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i>
							<a href="https://github.com/ssinokang/ks43team03">@ github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/resource/js/lesson/lessonListForUser.js}"></script>
</th:block>

</html>