<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
   <title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 css 선언 -->
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/resource/css/mapOverlay.css}" type="text/css">
	</th:block>

<!-- 사용자 정의 Js 파일-->
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
 	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9c5dbc5a281ccc90ee278e75316bee9c&libraries=services,clusterer,drawing"></script>
	<script>
		 $(function(){
			var $addForm = $('#addForm');
			function validationCheck(data1, date2){
				if((typeof data1 == 'undefined' || data1 == '' || data1 == null) 
						&& (typeof data2 == 'undefined' || data2 == '' || data2 == null)){
					return false;
				}
				return true;
			}
			
			$addForm.on('click','#addBtn',function(){
				
				var facilityCd = $('input[name="facilityCd"]').val();
				var userId = $('input[name="userId"]').val();
				console.log(facilityCd);
				console.log(userId);
				
				var vCheck = validationCheck(facilityCd, userId);
				console.log(vCheck);
				
				if(vCheck){
					$.ajax({
						 url: '/facility/userCheck'
						,type: 'POST'
						,data: {'facilityCd' : facilityCd, 'userId' : userId}
						,dataType: 'json'
						,success: function(data){
							console.log(data);
							if(data){
								alert("시설 승인 후 이용가능합니다.")
								$addForm.attr('action','/facility/addFacilityUser').submit();
							}else{
								alert("이미 가입된 시설입니다.");
							}
						}
					});
				}
			})
		});
	</script>
 
</th:block>



<th:block layout:fragment="customContents">

  <div class="breadcrumb-option">
  <th:block th:if="${not #lists.isEmpty(facilityDetail)}" th:each="l : ${facilityDetail}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#">shop</a>
                        <span><a th:text="${l.facilityNm}"></a></span>
                    </div>
                </div>
            </div>
        </div>
  	</th:block>
    </div>

<!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
             <th:block th:if="${not #lists.isEmpty(facilityDetail)}" th:each="l : ${facilityDetail}">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="img/product/details/thumb-1.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="img/product/details/thumb-2.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="img/product/details/thumb-3.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="img/product/details/thumb-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="img/product/details/product-1.jpg" alt="">
                                <img data-hash="product-2" class="product__big__img" src="img/product/details/product-3.jpg" alt="">
                                <img data-hash="product-3" class="product__big__img" src="img/product/details/product-2.jpg" alt="">
                                <img data-hash="product-4" class="product__big__img" src="img/product/details/product-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3 th:text="${l.facilityNm}"></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        
                        <p th:text="${l.facilityAddr}" style="font-size : medium; margin: 0px;" ></p>
                        <div class="product__details__button" style="margin-top: 20px;">
                            <a data-toggle="modal" data-target="#addModal" class="cart-btn"><span class="icon_bag_alt"></span>시설가입</a> 
                            <ul>
                                <li><a th:href="@{/boomk/addBoomk(facilityCd=${l.facilityCd},userId=${session.SID})}"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
	                        <ul class="nav nav-tabs" role="tablist">
	                            <li class="nav-item">
	                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">상세정보</a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">위치안내</a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">게시판</a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">후기</a>
	                            </li>
	                        </ul>
	                        <div class="tab-content">
	                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
	                                <h6>상세정보</h6>
	                                <p>상세정보추가</p>
	                                <p class="fa fa-phone"> 전화번호</p>
	                                <p style="border-bottom: 1px solid #e1e1e1; padding-bottom: 20px;"  th:text="${l.facilityTell}"></p>	                                
		                                <h6>구장</h6>		                                                
	                               		<section class="trend spad" style="border-bottom: 1px solid #e1e1e1; padding: 10px; margin-bottom: 10px;">
									    <div class="container">
									        <div class="row">
				                               	<th:block th:if="${not #lists.isEmpty(stadiumList)}" th:each="l : ${stadiumList}">
									            <div class="col-lg-6 col-md-6 col-sm-12">
									                <div class="trend__content">				
									                    <div class="trend__item">
									                        <div class="trend__item__pic">
									                            <img src="">
									                        </div>
									                        <div class="trend__item__text">
									                            <h6 ><a th:href="@{/stadium/stadiumDetail(facilityStadiumCd=${l.facilityStadiumCd})}" th:text="${l.facilityStadiumNm}" style="color: black;"></a></h6>
									                            <div class="rating">
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                            </div>
									                        </div>
									                    </div>
									                </div>
									            </div>
			                               	</th:block>
									        </div>
									    </div>
									</section>
	                                <h6>레슨</h6>
	                                <section class="trend spad" style="border-bottom: 1px solid #e1e1e1; padding: 10px; margin-bottom: 10px;">
									    <div class="container">
									        <div class="row">
				                               	<th:block th:if="${not #lists.isEmpty(lessonList)}" th:each="l : ${lessonList}">
									            <div class="col-lg-6 col-md-6 col-sm-12">
									                <div class="trend__content">				
									                    <div class="trend__item">
									                        <div class="trend__item__pic">
									                            <img src="">
									                        </div>
									                        <div class="trend__item__text">
									                            <h6 ><a th:href="@{/lesson/detailLessonForUser(lessonCd=${l.lessonCd})}" th:text="${l.lessonName}" style="color: black;"></a></h6>
									                            <div class="rating">
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                                <i class="fa fa-star"></i>
									                            </div>
									                        </div>
									                    </div>
									                </div>
									            </div>
			                               	</th:block>
									        </div>
									    </div>
									</section>                               
	                            </div>
	                            <div class="tab-pane" id="tabs-2" role="tabpanel">
	                                <h6>위치정보</h6>
	                                <p th:text="${l.facilityAddr} + ' ' + ${l.facilityDetailAddr}" ></p>
	                                <p>지도</p>
                             		<div class="x_content">
										<div class="table-responsive">
											<th:block th:if="${not #lists.isEmpty(facilityDetail)}" th:each="l:${facilityDetail}">
												<input type="hidden" th:value ="${l.facilityAddr}" class="placeAddr">
												<input type="hidden" th:value ="${l.facilityNm}" class="placeName">
												<input type="hidden" th:value ="${l.facilityCd}" class="placeCode">
											</th:block>
										</div>
									</div>
	                                <div>
										<p style="margin-top:-12px">
											<em class="link">
												<a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
													혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
												</a>
											</em>
										</p>
										<div id="map" style="width:50%;height:350px;"></div>
									</div>
	                            </div>
	                            <div class="tab-pane" id="tabs-3" role="tabpanel">
	                                <h6>게시판</h6>
	                                <p></p>
	                            </div>
	                            <div class="tab-pane" id="tabs-4" role="tabpanel">
	                            	<th:block th:if="${not #lists.isEmpty(reviewList)}" th:each="l:${reviewList}">
							    	<div class="board__details__comment">
			                            <h5>3 REVIEW</h5>
			                            <a href="#" class="leave-btn">후기 등록</a>
			                            <div class="board__comment__item">
			                                <div class="board__comment__item__pic">
			                                    <img src="img/board/details/comment-1.jpg" alt="">
			                                </div>
			                                <div class="board__comment__item__text">
			                                    <h6 th:text="${l.userId}"></h6>
			                                    <p th:text="${l.reviewDetail}"></p>
			                                    <ul>
			                                        <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>
			                                        <li><i class="fa fa-heart-o"></i> 12</li>
			                                        <li><i class="fa fa-share"></i> 1</li>
			                                    </ul>
			                                </div>
			                            </div>
									</div>
									</th:block>
	                            </div>
	                        </div>
                   	 	</div>
                    </div>
                </th:block>    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Buttons tweed blazer</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Product Details Section End -->

	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form id="addForm" method="post">
			<div class="modal-dialog" role="document">
		 		<div class="modal-content">
					<div class="modal-header">
						<th:block th:if="${not #lists.isEmpty(facilityDetail)}" th:each="l : ${facilityDetail}">
							<h5 class="modal-title" id="facilityCd" th:value="${l.facilityCd}" th:text="${l.facilityNm}"></h5>
							<input type="hidden" class="form-control" name="facilityCd" readonly="readonly" th:value="${l.facilityCd}">
						</th:block>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<div class="col-md-9 col-sm-9">
								<label class="control-label" for="userLevel">권한을 선택해주세요</label>
								<input type="hidden" class="form-control" name="userId" readonly="readonly" th:value="${session.SID}">
							</div>
							<div class="col-md-9 col-sm-9" style="padding-top: 5px;">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="facilityUserLevel" id="inlineRadio1" value="일반회원" checked>
									<label class="form-check-label" for="inlineRadio1">일반회원</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="facilityUserLevel" id="inlineRadio2" value="트레이너">
									<label class="form-check-label" for="inlineRadio2">트레이너</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="facilityUserLevel" id="inlineRadio2" value="대리인">
									<label class="form-check-label" for="inlineRadio2">대리인</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="form-group">
							<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
							<button type="button" class="btn btn-info" id="addBtn">가입</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>



<script th:src="@{/resource/js/map.js}"></script>
</th:block>	  
	  
</html>