<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminDefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.form-group{margin-top:10px;}
		</style>
	</th:block>
	
	
	
	<!-- 사용자 정의 Js 파일-->
		<th:block layout:fragment="customJs">
			<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<!-- 주소검색 API -->
		<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
		
		<script>
		/* 회원가입시 유효성 검사 */
		$('#addFacilityBtn').click(function(){
			var isSubmit = true;
			var inputObj = $('#addFacilityForm').find('input');
			
			$.each(inputObj, function(){
				var inputData = $(this).val();
				var result = validationCheck(inputData);
				
				// 사용자가 입력하지 않은 경우
				if(!result){
					alert('필수 항목입니다. 입력해주세요');
					$(this).focus();
					isSubmit = false;
					return false;
				}
			});
			
			console.log('유효여부 폼전송할건지?' + isSubmit )
			
			if(isSubmit) $('#addFacilityForm').submit();
		});
	});
			
		</script>
	
		<script>
		
				/* 카카오 주소를 활용하여 회원 주소 검색 */
				function searchAddForm() {
					new daum.Postcode({
						oncomplete: function(data) {
							
							var addr = '';
							var extraAddr = ''; // 참고항목 변수
	
							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}
							document.getElementById('facilityPostNum').value = data.zonecode;
							document.getElementById('facilityAddr').value = addr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById('facilityDetailAddr').focus();
	
						}
					}).open();
				}
			</script>
	</th:block>





<!-- 사용자 정의Contents -->
	<th:block layout:fragment="customContents">
	<div class="title_left">
		<h3>시설등록</h3>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
			<div class="x_title">
				<h2>시설정보등록 </h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
			<form id="addFacilityForm" th:action="@{/adminFacility/addFacility}" method="post" novalidate>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설대표코드 <span class="required">*</span></label>
					<div class="col-md-6 col-sm-6">
					<input class="form-control" type="text" name="facilityCd" data-validate-minmax="10,100" required='required'></div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설카테고리<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6">
					<select class="form-control" name="mainCtgCd" data-validate-length-range="6" data-validate-words="2" required="required">
						<option value=""> ::  시 설 카 테 고 리  선 택   ::</option>
						<th:block th:if="${not #lists.isEmpty(mainCtgList)}" th:each="l:${mainCtgList}">
							<option th:value="${l.mainCtgCd}">[[${l.mainCtgNm}]]</option>
						</th:block>
					</select>
					</div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">지역<span class="required">*</span></label>
					<div class="col-md-2 col-sm-2">
					<select  class="form-control" name="areaCd" id="areaCd" data-validate-length-range="5,15" data-validate-words="2" required="required">
						<option value=""> ::  지 역(시 도) 선 택   ::</option>
						<th:block th:if="${not #lists.isEmpty(areaList)}" th:each="l:${areaList}">
							<option th:value="${l.areaCd}">[[${l.areaNm}]]</option>
						</th:block>
					</select>
					</div>
					<div class="col-md-2 col-sm-2">
					<select class="form-control" name="cityCd" id="areaCityCd" data-validate-length-range="5,15">
						<option value=""> ::  지 역(시 군 구) 선 택   ::</option>
						<th:block th:if="${not #lists.isEmpty(areaCityList)}" th:each="l:${areaCityList}">
							<option th:value="${l.cityCd}">[[${l.cityNm}]]</option>
						</th:block>
					</select>
					</div>
					<div class="col-md-2 col-sm-2">
					<select class="form-control" name="townCd"  id="areaCityTownCd" data-validate-length-range="5,15" >
						<option value=""> ::  지 역(읍 면 동) 선 택   ::</option>
						<th:block th:if="${not #lists.isEmpty(areaCityTownList)}" th:each="l:${areaCityTownList}">
							<option th:value="${l.townCd}">[[${l.townNm}]]</option>
						</th:block>
					</select>
					</div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설용도<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6">
					<select class="form-control" name="facilityUseCd" data-validate-length-range="5,15" >
						<option value=""> ::  시 설 용 도 선 택   ::</option>
						<th:block th:if="${not #lists.isEmpty(facilityUseList)}" th:each="l:${facilityUseList}">
							<option th:value="${l.facilityUseCd}">[[${l.facilityUseNm}]]</option>
						</th:block>					
					</select>
					</div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설주 아이디<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6"><!-- th:value="${session.SID}" -->
					<input class="form-control" type="text" id="userId" name="userId"  data-validate-minmax="10,100" required='required' /></div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설명 <span class="required">*</span></label>
					<div class="col-md-6 col-sm-6">
					<input class="form-control" type="text" name="facilityNm" data-validate-minmax="10,100" required='required'></div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설 주소<span class="required">*</span></label>
					<div class="col-md-4 col-sm-4">
						<input class="form-control" type="text" name="facilityPostNum" id="facilityPostNum" placeholder="우편번호" required='required' data-validate-length-range="8,20" />
					</div>
					<div class="col-md-2 col-sm-2">
						<button type="button" class="btn btn-info" id="postNum" onclick="searchAddForm()">우편번호찾기</button>
					</div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align"></label>
					<div class="col-md-6 col-sm-6">
					<input class="form-control" type="text" name="facilityAddr" id="facilityAddr" placeholder="시설주소" data-validate-length="6,8" required='required' /></div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align"></label>
					<div class="col-md-6 col-sm-6">
					<input class="form-control" type="text" name="facilityDetailAddr" id="facilityDetailAddr" placeholder="시설상세주소" data-validate-length="6,8" required='required' /></div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">시설전화번호<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6">
					<input class="form-control" type="text" name="facilityTell" data-validate-linked='password' required='required' /></div>
				</div>
				<div class="field item form-group">
					<label class="col-form-label col-md-3 col-sm-3  label-align">사업자등록번호<span class="required">*</span></label>
					<div class="col-md-6 col-sm-6">
					<input class="form-control" type="text" name="businessNum" required='required' data-validate-length-range="8,20" /></div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="lessonImgFile">시설 사진 
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="file" id="lessonImgFile"  name="facilityImgFile" multiple="multiple">
					</div>
				</div>
				<div class="ln_solid">
					<div class="form-group">
						<div class="col-md-6 offset-md-3">
							<button type='reset' class="btn btn-primary">취소</button>
							<button type='submit' id="addFacilityBtn" class="btn btn-success">등록</button>
						</div>
					</div>
				</div>
			</form>
			</div>
			</div>
		</div>
	</div>
</th:block>

	  
	  
</html>