<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team03.mapper.BoardMapper">
	<resultMap type="Board" 						id="boardResultMap">
		<id column="board_post_cd"					property="boardPostCd"/>
		<result column="board_ctg_cd"				property="boardCtgCd"/>
		<result column="user_id"					property="userId"/>
		<result column="board_post_title"			property="boardPostTitle"/>
		<result column="board_post_content"			property="boardPostContent"/>
		<result column="board_post_file"			property="boardPostFile"/>
		<result column="board_post_date"			property="boardPostDate"/>
		<result column="board_post_comment_number"	property="boardPostCommentNum"/>
		<result column="board_post_views"			property="boardPostViews"/>
		<result column="board_post_state"			property="boardPostState"/>
	</resultMap>
	<resultMap type="BoardCtgCd" 					id="BoardCtgCdResultMap">
		<id column="board_sub_ctg_cd"				property="boardSubCtgCd"/>
		<result column="board_ctg_nm"				property="boardCtgNm"/>
		<result column="board_ctg_rdg_date"			property="boardCtgRegDate"/>
	</resultMap>
	<resultMap type="BoardComment" 					id="boardCommentResultMap">
		<id column="board_post_comment_cd"			property="boardPostCommentCd"/>
		<result column="board_post_cd"				property="boardPostCd"/>
		<result column="board_ctg_cd"				property="boardCtgCd"/>
		<result column="user_id"					property="userId"/>
		<result column="board_post_comment_detail"	property="boardPostContentDetail"/>
		<result column="board_post_comment_date"	property="boardPostCommentDate"/>
		<result column="board_post_comment_state"	property="boardPostCommentState"/>
	</resultMap>
	
	<!-- 게시글 전체 조회 -->
	<select id="getBoardList" parameterType="String" resultMap="boardResultMap">
		SELECT
			b.board_post_cd
			,b.board_ctg_cd
			,b.user_id
			,b.board_post_title
			,b.board_post_content
			,b.board_post_file
			,b.board_post_date
			,b.board_post_views
			,b.board_post_comment_number
			,b.board_post_state
		FROM
			board_post AS b;
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="getBoardDetail" parameterType="String" resultMap="boardResultMap">
		SELECT
			b.board_post_cd
			,b.board_ctg_cd
			,b.user_id
			,b.board_post_title
			,b.board_post_content
			,b.board_post_file
			,b.board_post_date
			,b.board_post_views
			,b.board_post_comment_number
			,b.board_post_state
		FROM
			board_post AS b
		INNER JOIN
			user AS u
		ON
			b.user_id = u.user_id
		WHERE
			b.board_post_cd = #{boardPostCd};
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="addBoard" parameterType="Board">
		INSERT INTO board_post
			(board_post_cd
			, board_ctg_cd
			, user_id
			, board_post_title
			, board_post_content
			, board_post_file
			, board_post_date
			, board_post_views
			, board_post_comment_number
			, board_post_state)
		VALUES 
			(sf_new_board_post_cd()
			, #{boardCtgCd}
			, #{userId}
			, #{boardPostTitle}
			, #{boardPostContent}
			, #{boardPostFile}
			, NOW()
			, #{boardPostViews}
			, 0
			, 'N');
	</insert>
	
	<!-- 게시글 답글 등록 -->
	<insert id="addBoardComment" parameterType="boardComment">
		INSERT INTO board_post_comment
		(		 board_post_comment_cd
				,board_post_cd
				,board_ctg_cd
				,user_id
				,board_post_comment_detail
				,board_post_comment_state
				,board_post_comment_date
		)VALUES	(
				 sf_new_board_post_comment_cd()
				,#{boardPostCd}
				,#{boardCtgCd}
				,#{userId}
				,#{boardPostContentDetail}
				,'N'
				,NOW()
		);
	</insert>
	
	<!-- 게시글 카테고리 조회 -->
	<select id="getBoardSubCtgCd" parameterType="String" resultMap="BoardCtgCdResultMap">
		SELECT 
			bc.board_sub_ctg_cd
			, bc.board_ctg_nm
			, bc.board_ctg_reg_date
		FROM 
			board_ctg AS bc;
	</select>
	
	<!-- 게시글 조회수 업데이트 -->
	<update id="boardViewUpdate" parameterType="String">
		UPDATE 
			board_post
		SET
			board_post_views = board_post_views+1
		WHERE 
			board_post_cd = #{boardPostCd};
	</update>
	
	<!-- 게시글 수정 -->
	<update id="modifyBoard" parameterType="Board">
		UPDATE 
			board_post
		SET
			board_post_cd=#{boardPostCd},
			board_ctg_cd=#{boardCtgCd},
			user_id=#{userId},
			board_post_title=#{boardPostTitle},
			board_post_content=#{boardPostContent},
			board_post_file=#{boardPostFile},
			board_post_date=NOW(),
			board_post_views=#{boardPostViews},
			board_post_comment_number=0,
			board_post_state='N'
		WHERE 
			board_post_cd=#{boardPostCd};
	</update>
	
	<!-- 게시글 답글 리스트 조회 -->
	<select id="getBoardCommentList" parameterType="String" resultMap="boardCommentResultMap">
		SELECT 
			c.board_post_comment_cd
			, c.board_post_cd
			, c.board_ctg_cd
			, c.user_id
			, c.board_post_comment_detail
			, c.board_post_comment_date
			, c.board_post_comment_state
		FROM 
			board_post_comment AS c
		INNER join
			board_post AS p
		ON
			c.board_post_cd = p.board_post_cd
		WHERE
			p.board_post_cd = #{boardPostCd};
	</select>
	
	<!-- 게시글 답글 삭제 -->
	<delete id="removeComment" parameterType="String">
		DELETE FROM 
			board_post_comment 
		WHERE 
			board_post_comment_cd = #{boardPostCommentCd};
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="removeCommentByPostCd" parameterType="String">
		/* 게시글에 등록되있는 댓글 모두 삭제 */
		DELETE 
			bc
		FROM 
			board_post AS bp
			INNER JOIN 
			board_post_comment AS bc
			ON 
			bp.board_post_cd = bc.board_post_cd
		WHERE
			bc.board_post_cd = #{boardPostCd};
	</delete>
	<delete id="removeBoard" parameterType="String">
		/* 게시글 삭제 */
		DELETE
		FROM
			board_post
		WHERE
			board_post_cd = #{boardPostCd};
	</delete>

	
</mapper>