
<!-- 
SELECT
	b.user_id
	,b.boomk_reg_date
	,b.boomk_facility_state
	,b.boomk_update_date	
	,f.facility_nm
	,f.facility_address
	,f.facility_detail_addr
	,f.facility_tell
FROM 
	boomk_facility AS b
	INNER JOIN 
	facility AS f
	ON 
	b.facility_cd = f.facility_cd
WHERE b.user_id = 'id010';
 -->