<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ks43team03.mapper.CommonMapper">
  
  
  	<select id="createNewCode" parameterType="String" resultType="String">
  		SELECT
		      CASE
		      WHEN COUNT(1)=0 THEN CONCAT(#{column},'_1')
		      ELSE
		         CONCAT(#{column},'_',MAX(CAST(SUBSTRING_INDEX(${column},'_',-1) AS UNSIGNED))+1)
		      END
		FROM
		      ${tableName}; 
  	</select>
  	
  	<select id="getSportsList" resultType="Sports">
  		SELECT
			sports_cd	as sportsCd
			,sports_nm	as sportsName
		FROM
			sports
	</select>
	<select id="getAreaCityList" parameterType="String" resultType="AreaCity">
		SELECT
			ac.city_cd		AS cityCd
			,ac.area_cd		AS areaCd
			,ac.city_nm		AS cityNm
		FROM
			area_city AS ac
		WHERE
			ac.area_cd = #{areaCd}
	</select>
	<select id="getAreaList" parameterType="String" resultType="Area">
		SELECT
			ac.area_cd		AS areaCd
			,ac.area_nm		AS areaNm
		FROM
			area AS ac
	</select>
</mapper>