<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks43team03.mapper.FacilityMapper">

	<resultMap type="Facility" 					id="facilityResultMap">
		<id 	column="facility_cd" 			property="facilityCd"/>
		<result column="main_ctg_cd"			property="mainCtgCd"/>
		<result column="town_cd"  				property="townCd"/>
		<result column="facility_use_cd" 		property="facilityUseCd"/>
		<result column="user_id" 				property="userId"/>
		<result column="facility_nm" 			property="facilityNm"/>
		<result column="facility_address" 		property="facilityAddr"/>
		<result column="facility_tell" 			property="facilityTell"/>
		<result column="facility_post_num" 		property="facilityPostNum"/>
		<result column="business_number" 		property="businessNum"/>
		<result column="facility_reg_date"		property="facilityRegDate"/>
		<result column="facility_detail_addr" 	property="facilityDetailAddr"/>
		<result column="area_cd"  				property="areaCd"/>
		<result column="city_cd"  				property="cityCd"/>
		<association property="mainCtg" 		javaType="MainCtg">
			<id 	column="main_ctg_cd" 		property="mainCtgCd"/>
			<result column="main_ctg_nm" 		property="mainCtgNm"/>
		</association>
		<association property="facilityUse" 	javaType="FacilityUse">
			<id 	 column="facility_use_cd" 	property="facilityUseCd"/>
			<result  column="facility_use_nm" 	property="facilityUseNm"/>
		</association>
		
		<association property="area" 	javaType="Area">
			<id 	 column="area_cd" 	property="areaCd"/>
			<result  column="area_nm" 	property="areaNm"/>
		</association>	
		<association property="areaCity" 	javaType="AreaCity">
			<id 	 column="city_cd" 		property="cityCd"/>
			<result  column="area_cd" 		property="areaCd"/>
			<result  column="town_nm" 		property="townNm"/>
		</association>	
		<association property="areaCityTown" 	javaType="AreaCityTown">
			<id 	 column="town_cd" 			property="townCd"/>
			<result  column="city_cd" 			property="cityCd"/>
			<result  column="area_cd" 			property="areaCd"/>
			<result  column="town_nm" 			property="townNm"/>
		</association>	
		<collection property="user" ofType="User">
			<id column="user_id"				property="userId"/>
			<result column="user_level"			property="userLevel"/>
			<result column="user_password"		property="userPw"/>
			<result column="user_nm"			property="userName"/>
			<result column="user_address"		property="userAddr"/>
			<result column="user_birth"			property="userBirth"/>
			<result column="user_email"			property="userEmail"/>
			<result column="user_tell"			property="userTell"/>
			<result column="user_gender"		property="userGender"/>
			<result column="user_drop"			property="userDrop"/>
			<result column="reg_path"			property="userRegPath"/>
			<result column="user_terms"			property="userTerms"/>
			<result column="user_reg_date"		property="userRegDate"/>
			<result column="user_post_num"		property="userPostNum"/>
			<result column="user_detail_addr"	property="userDetailAddr"/>
		</collection>
	</resultMap>
	
	
	
	
	
	
	
	<select id="getFacilityList" resultType="Facility" resultMap="facilityResultMap">
		/*시설전체조회*/
			SELECT 
				facility_cd 		
				,main_ctg_cd		
				,area_cd			
				,city_cd			
				,town_cd			
				,facility_use_cd	
				,user_id			
				,facility_nm		
				,facility_address
				,facility_tell		
				,facility_post_num	
				,business_number	
				,facility_reg_date
			FROM 
				facility 
		</select>
	
	
		<select id="getMainCtgList" resultType="MainCtg">
			SELECT 
				main_ctg_cd 	AS mainCtgCd
				,main_ctg_nm	AS mainCtgNm
			FROM 
				main_ctg;
		
		</select>
	
		<select id="getFacilityUseList" resultType="FacilityUse">
			SELECT 
				facility_use_cd 	AS facilityUseCd
				,facility_use_nm	AS facilityUseNm
			FROM 
				facility_use;
		
		</select>
		<select id="getAreaList" resultType="Area">
			SELECT 
				area_cd	AS areaCd
				,area_nm	AS areaNm
			FROM
				area;
		</select>

		<select id="getAreaCityList" resultType="AreaCity">
			SELECT 
				city_cd	AS cityCd
				,area_cd	AS areaCd
				,city_nm	AS cityNm
			FROM
				area_city;
		</select>
		
		<select id="getAreaCityTownList" resultType="AreaCityTown">
			SELECT 
				town_cd 	AS townCd
				,area_cd	AS areaCd
				,city_cd	AS cityCd
				,town_nm	AS townNm
			FROM
				area_city_town;
		</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


</mapper>