<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team03.mapper.OrderMapper">
	<resultMap type="Order" id="orderResultMap">
		<id column="order_cd" property="orderCd"/>
		<result column="user_id" property="userId"/>
		<result column="facility_goods_cd" property="facilityGoodsCd"/>
		<result column="goods_ctg_cd" property="goodsCtgCd"/>
		<result column="order_price" property="orderPrice"/>
		<result column="order_user_point" property="userPoint"/>
		<result column="order_used_point" property="usedPoint"/>
		<result column="order_pay_price" property="orderPayPrice"/>
		<result column="order_reg_date" property="orderRegDate"/>
		<result column="order_pay_state" property="orderPayState"/>
	</resultMap>
</mapper>