<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default.html}">

	<th:block layout:fragment="customJs">
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>

	</th:block>

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<!-- 이런식으로 넣으면 되겠죠? -->
		<script src="https://js.tosspayments.com/v1"></script>
	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<h2>주문/결제</h2>
				</div>
				<div class="col-lg-2 offset-7">
					<div class="breadcrum__links">
						<span> <i class="bi bi-cart-check"></i> 주문하기 > </span>
						<span>주문정보</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<form id="orderForm" method="post" class="form-group">
			<div class="row">
				<div class="col-sm-12">
					hello world
				</div>
			</div>

			<div class="card row">
				<div class="card-header col-sm-12">
					구매자정보
				</div>
			</div>
			<div class="row">
				<table class="table table-bordered">
					<tr>
						<td style="width: 16.66%">아이디</td>
						<td style="width: 83.33%" th:text="${user.userId}">id001</td>
					</tr>
					<tr>
						<td>연락처</td>
						<td th:text="${user.userTell}">010-9999-1111</td>
					</tr>
				</table>
			</div>

			<div class="card row">
				<div class="card-header col-sm-12">
					상품정보
				</div>
			</div>
			<input type="hidden" name="userId" th:value="${user.userId}">
			<input type="hidden" name="facilityGoodsCd" th:value="${goods.facilityGoods.facilityGoodsCd}">
			<input type="hidden" name="goodsCtgCd" th:value="${goods.facilityGoods.goodsCtgCd}">

			<div class="row">
				<table class="table table-bordered">
					<tr>
						<td style="width: 16.66%">상품코드</td>
						<td style="width: 83.33%"th:text="${goods.facilityGoods.facilityGoodsCd}">ss_35011740_01_lesson_01</td>
					</tr>
					<tr>
						<td>시설명</td>
						<td th:text="${goods.facilityGoods.facility.facilityNm}">어디어디체육관</td>
					</tr>
					<tr>
						<td>주소</td>
						<td th:text="${goods.facilityGoods.facility.facilityAddr}">서울시 여러분</td>
					</tr>
					<tr>
						<td>카테고리</td>
						<td th:text="${goods.facilityGoods.goodsCtgCd}">레슨</td>
					</tr>
				</table>
			</div>


			<input type="hidden" name="price" th:value="${goods.price}">
			<div class="card row">
				<div class="card-header col-sm-12">
					결제정보
				</div>
			</div>
			<div class="row">
				<table class="table table-bordered">
					<tr>
						<td style="width: 16.66%">가격</td>
						<td style="width: 83.33%" th:text="${goods.price}">500000</td>
					</tr>
					<tr>
						<td>사용 가능 포인트</td>
						<td><input type="text" name="userPoint" class="form-control col-sm-4" value="50000" id="userPoint" disabled></td>
					</tr>
					<tr>
						<td>남은 포인트</td>
						<td><input type="text" class="form-control col-sm-4" id="remPoint" value="50000" disabled></td>
					</tr>
					<tr>
						<td>포인트 사용</td>
						<td>
							<div class="col-sm-8">
								<div class="row">
									<input type="text" name="usedPoint" class="form-control col-sm-6" id="usedPoint">
									<span class="col-sm-3"><button type="button" class="btn btn-primary" id="point-btn">사용하기</button></span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>총 결제 금액</td>
						<td><input type="text" class="form-control col-sm-4" id="sum-pay" disabled></td>
					</tr>
				</table>

			</div>
			<!-- input tag hidden -->
			<div class="card row">
				<div class="card-header col-sm-12">
					결제수단
				</div>
			</div>
			<div class="row">
				<table class="table table-bordered">
					<tr>
						<td style="width: 16.66%">결제수단</td>
						<td style="width: 83.33%">
							<div class="col-sm-8">
								<div class="row">
									<th:block th:each="pay : ${T(ks43team03.dto.type.PayType).values()}">
										<div class="col-sm-3 ">
											<label for="card"> 
												<input type="radio" name="method" class="form-control btn btn-primary" th:text="${pay.name}" th:value="${pay.name}" >
											</label>
										</div>
									</th:block>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>총 결제 금액</td>
						<td><input type="text" class="form-control col-sm-4" id="order-price" disabled></td>
					</tr>
				</table>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-sm-4 offset-5"><button type="button" class="btn btn-primary" id="pay-btn">결제하기</button></div>
			</div>
		</form>
	</div>

	<script>
		const pattern_num = /[0-9]/;	// 숫자 
		const pattern_eng = /[a-zA-Z]/;	// 문자 
		const pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
		const pattern_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 한글체크
		//버튼 
		const payBtn = document.querySelector('#pay-btn');
		const pointBtn = document.querySelector('#point-btn');

		const userId = document.querySelector('input[name="userId"]');
		const facilityGoodsCd = document.querySelector('input[name="facilityGoodsCd"]');

		//주문 폼
		const orderForm = document.querySelector('#orderForm');

		//포인트 사용후 총결제금액 
		let sumPay = document.querySelector('#sum-pay');

		//결제금액 
		let orderPrice = document.querySelector('#order-price');

		//사용포인트
		let usedPoint = document.querySelector('#usedPoint');
		//남은 포인트
		let remPoint = document.querySelector('#remPoint');
		//사용자의 포인트
		let userPoint = document.querySelector('#userPoint');
		//상품가격
		let price = document.querySelector('input[name="price"]');

		//사용포인트 값
		let usedPointValue = 0;
		//남은 포인트 값
		let remPointValue = 0;
		//사용자의 포인트 값
		let userPointValue = 0;

		pointBtn.addEventListener('click', e =>{
			usedPointValue = usedPoint.value;
			remPointValue = Number(remPoint.value);
			if(pattern_num.test(usedPointValue) && !pattern_eng.test(usedPointValue) && !pattern_kor.test(usedPointValue) && !pattern_spc.test(usedPointValue)){
				usedPointValue = Number(usedPoint.value);
				if(pointValidation(Number(usedPointValue))){
					console.log('포인트 validation 통과 체크');
					
					remPoint.value = remPointValue - usedPointValue;
					sumPay.value = Number(price.value) - Number(usedPointValue);
					orderPrice.value = Number(price.value) - Number(usedPointValue)
					
					
				
					return;
				}
			}else{
				alert('숫자를 입력하십시오.');
				return;
			}
		});
			



		function pointValidation(data){
			console.log(data);
			console.log(remPoint);
			if(data < 0){
				alert('사용하실 포인트의 형식에 맞지않습니다.');
				return false;
			}
			return true;
		}

		
		const clientKey = "[[${@environment.getProperty('test.client.api.key')}]]";
		const tossPayments = TossPayments(clientKey)
		let orderId = 'order_' + new Date().getTime();
		//[[${@environment.getProperty('kakao.authorize.redirect.url')}]]
  

		payBtn.addEventListener("click", function () {
			let method = document.querySelector('input[name=method]:checked').value; // "카드" 혹은 "가상계좌"

			const data = {
				userId : $('input[name="userId"]').val(),
				facilityGoodsCd : $('input[name="facilityGoodsCd"]').val(),
				goodsCtgCd : $('input[name="goodsCtgCd"]').val(),
				orderPrice : $('input[name="price"]').val(),
				userPoint : $('input[name="userPoint"]').val(),
				usedPoint : $('input[name="usedPoint"]').val(),
				orderPayPrice : $('#sum-pay').val(),
				payType : $('input[name=method]:checked').val()
			};
			
			
			console.log(data);
			$.ajax({
					type: 'POST',
					url: '/order/addOrder',
					dataType: 'JSON',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(data)
				}).done(function (data) {
					console.log(data);
					//window.location.href = '/order/orderDetail/' + data.orderCd;
					const paymentData = {
						amount: 10,
						orderId: data.orderId,
						orderName: data.facilityGoodsCd,
						customerName: data.usreId,
						successUrl: window.location.origin + "/success",
						failUrl: window.location.origin + "/fail",
					};
					if (method === '가상계좌') {
						paymentData.virtualAccountCallbackUrl = window.location.origin + '/virtual-account/callback'
					}

						tossPayments.requestPayment(method, paymentData);
				}).fail(function (error) {
					console.log(error);
				});
			
			
    	});
			
			
			/* const data = {
				userId : $('input[name="userId"]').val(),
				facilityGoodsCd : $('input[name="facilityGoodsCd"]').val()
			}

			console.log(data);
			$.ajax({
                    type: 'POST',
                    url: 'http://localhost:80/order/addOrder',
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).done(function (data) {
                    alert("결제가 완료 되었습니다.", data);
                    window.location.href = '/order/orderDetail/' + data.orderCd;
                }).fail(function (error) {
                    console.log(error);
                });
		 */
		

		
	</script>
</th:block>

</html>