<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default.html}">

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<!-- 이런식으로 넣으면 되겠죠? -->

	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a href="./index.html"><i class="fa fa-home"></i> Home</a>
						<span>주문/결제내역</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="shop spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="row">
						<div class="col-sm-12">
							<div class="sidebar__categories">
								<div class="section-title">
									<h4>주문/결제정보</h4>
								</div>
							</div>
							<div class="checkout__order">
								<div class="checkout__order__product">
									<ul>
										<li>
											<span class="top__text">주문내역</span>
										</li>
										<li>주문번호
											<span>order_cd_0216545678</span>
										</li>
										<li>금액
											<span>450000</span>
										</li>
									</ul>
								</div>
								<div class="checkout__order__product">
									<div class="shop__sidebar">
										<div class="sidebar__categories">
											<div class="categories__accordion">
												<div class="accordion" id="accordionExample">
													<div class="card">
														<div class="card-heading">
															<a data-toggle="collapse" data-target="#collapseTwo">환불계좌 정보</a>
														</div>
														<div id="collapseTwo" class="collapse" data-parent="#accordionExample">
															<div class="card-body">
																<ul>
																	<li>은행 KAKAO</li>
																	<li>계좌번호 33330000000</li>
																	<li>계좌이름 무지</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<br>
							<br>
							<div class="row">

								<table class="table">
									<thead>
										<tr>
											<th class="col-sm-6">주문정보</th>
											<th class="col-sm-6">결제정보</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="checkout__order">
													<div class="checkout__order__product" style="height: 170px;">
														<ul>
															<li>이름
																<span>무지</span>
															</li>
															<li>지역
																<span>지구 어딘가</span>
															</li>
															<li>연락처
																<span>ㅋㅋㅋㅋ</span>
															</li>
														</ul>
													</div>
												</div>
											</td>
											<td>
												<div class="checkout__order">
													<div class="checkout__order__product">
														<ul>
															<li>주문상품가격
																<span>50000</span>
															</li>
															<li>포인트 사용액
																<span>50000</span>
															</li>
														</ul>
													</div>
													<div class="checkout__order__total">
														<ul>
															<li>Total <span>450000</span></li>
														</ul>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4" style="margin-left: 420px">
						<a href="#" class="btn btn-primary">주문상세보기</a>
						<button class="btn btn-default">홈화면으로 가기</button>
					</div>
				</div>
			</div>
				
			
		</div>


	</section>

</th:block>

</html>