<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default.html}">

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<!-- 이런식으로 넣으면 되겠죠? -->
	<section class="shop-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="shop__sidebar">
						<div class="sidebar__categories">
							<div class="section-title">
								<h4>My 쇼핑</h4>
							</div>
							<div class="categories__accordion">
								<div class="accordion" id="mypagelink">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne" class="collapsed"
												aria-expanded="false">My주문</a>
										</div>
										<div id="collapseOne" class="collapse" data-parent="#mypagelink">
											<div class="card-body">
												<ul>
													<li><a href="#">주문목록/주문조회</a></li>
													<li><a href="#">CSS</a></li>
													<li><a href="#">취소/환불내역</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
												class="collapsed">My예약</a>
										</div>
										<div id="collapseTwo" class="collapse" data-parent="#mypagelink">
											<div class="card-body">
												<ul>
													<li><a href="#">나의 대관 예약 정보</a></li>
													<li><a href="#">나의 레슨 예약정보</a></li>
			
												</ul>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
												class="collapsed">My 활동</a>
										</div>
										<div id="collapseThree" class="collapse" data-parent="#mypagelink">
											<div class="card-body">
												<ul>
													<li><a href="#">문의하기</a></li>
													<li><a href="#">문의내역 조회</a></li>
													<li><a href="#">리뷰관리</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
												class="collapsed">My 정보</a>
										</div>
										<div id="collapseFour" class="collapse" data-parent="#mypagelink">
											<div class="card-body">
												<ul>
													<li><a href="#">개인정보 확인</a></li>
													<li><a href="#">결제 수단 관리</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<div class="product__details__tab">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">전체주문</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">예약</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">레슨</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tabs-1" role="tabpanel">
								<h6>전체주문</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
									quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
									Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
									voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
									consequat massa quis enim.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
									dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
									nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
									quis, sem.</p>
							</div>
							<div class="tab-pane" id="tabs-2" role="tabpanel">
								<h6>예약</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
									quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
									Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
									voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
									consequat massa quis enim.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
									dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
									nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
									quis, sem.</p>
							</div>
							<div class="tab-pane" id="tabs-3" role="tabpanel">
								<h6>레슨</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
									quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
									Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
									voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
									consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
									consequat massa quis enim.</p>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
									dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
									nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
									quis, sem.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>

</html>