<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminDefault}">
  <!-- 사용자 정의 title -->
  <th:block layout:fragment="customTitle">
     <title th:text="${title}"></title>
  </th:block>
	
	<!-- 사용자 정의 css 선언 -->
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{/resource/css/mapOverlay.css}" type="text/css">
	</th:block>
	
	<!-- 사용자 정의 js 선언 -->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9c5dbc5a281ccc90ee278e75316bee9c&libraries=services,clusterer,drawing"></script>
	</th:block>

<!-- 사용자 정의Contents -->
<th:block layout:fragment="customContents">
	<div class="title_left">
	<h3>시설목록</h3>
	</div>
	
	<div class="clearfix"></div>
	<div class="row" style="display: block;">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>전체 시설 목록 조회</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div th:include="/adminFacility/adminFacilitySearch :: adminSearchFacilityFragment"></div>	
					<div class="table-responsive">
						
						<th:block th:if="${not #lists.isEmpty(adminFacilityList)}" th:each="l:${adminFacilityList}">
							<input type="hidden" th:value ="${l.facilityAddr}" class="placeAddr">
							<input type="hidden" th:value ="${l.facilityNm}" class="placeName">
							<input type="hidden" th:value ="${l.facilityCd}" class="placeCode">
						</th:block>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div>
		<p style="margin-top:-12px">
			<em class="link">
				<a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
					혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
				</a>
			</em>
		</p>
		<div id="map" style="width:50%;height:350px;"></div>
	</div>

	<script th:src="@{/resource/js/map.js}"></script>
</th:block>
</html>