<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="img/banner.png" th:fragment="bannerFragment">
	<div class="container">
		<div class="row">
			<div class="col-xl-7 col-lg-8 m-auto">
				<div class="banner__slider owl-carousel">
					<div class="banner__item">
						<div class="banner__text">
							<span>DEVELOPER</span>
							<p>43기 개발자 김지혜</p>
							<a th:href="@{https://github.com/ssinokang/ks43team03/tree/KJH}">github</a>
						</div>
					</div>
					<div class="banner__item">
						<div class="banner__text">
							<span>DEVELOPER</span>
							<p>43기 개발자 강신호</p>
							<a th:href="@{https://github.com/ssinokang/ks43team03/tree/KSH}">github</a>
						</div>
					</div>
					<div class="banner__item">
						<div class="banner__text">
							<span>DEVELOPER</span>
							<p>43기 개발자 신서진</p>
							<a th:href="@{https://github.com/ssinokang/ks43team03/tree/SSJ}">github</a>
						</div>
					</div>
					<div class="banner__item">
						<div class="banner__text">
							<span>DEVELOPER</span>
							<p>43기 개발자 김선원</p>
							<a th:href="@{https://github.com/ssinokang/ks43team03/tree/GSW}">github</a>
						</div>
					</div>
					<div class="banner__item">
						<div class="banner__text">
							<span>DEVELOPER</span>
							<p>43기 개발자 정다운</p>
							<a th:href="@{https://github.com/ssinokang/ks43team03/tree/JDW}">github</a>
						</div>
					</div>										
					<div class="banner__item">
						<div class="banner__text">
							<span>DEVELOPER</span>
							<p>43기 개발자 위찬복</p>
							<a th:href="@{https://github.com/ssinokang/ks43team03/tree/WCB}">github</a>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Banner Section End -->
	
</html>