<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Categories Section Begin -->
<section class="categories" th:fragment="categoriesFragment">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="categories__item categories__large__item set-bg" data-setbg="img/baseball.jpg">
					<div class="categories__text">
						<h1>sport</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 p-0">
						<div class="categories__item set-bg" data-setbg="img/ksh.png">
							<div class="categories__text">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 p-0">
						<div class="categories__item set-bg" data-setbg="img/ssj.png">
							<div class="categories__text">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 p-0">
						<div class="categories__item set-bg" data-setbg="img/gsw.png">
							<div class="categories__text">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 p-0">
						<div class="categories__item set-bg" data-setbg="img/jdw.png">
							<div class="categories__text">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 p-0">
						<div class="categories__item set-bg" data-setbg="img/wcb.png">
							<div class="categories__text">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 p-0">
						<div class="categories__item set-bg" data-setbg="img/kjh.png">
							<div class="categories__text">
							</div>
						</div>
					</div>										
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Categories Section End -->

</html>