<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Footer Section Begin -->
<footer class="footer" th:fragment="footerFragment">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-5">
				<div class="footer__widget">
					<h6>Developer</h6>
					<ul>
						<li><a href="https://github.com/ssinokang/ks43team03/tree/KSH">43기 개발자 강신호</a></li>
						<li><a href="https://github.com/ssinokang/ks43team03/tree/SSJ">43기 개발자 신서진</a></li>
						<li><a href="https://github.com/ssinokang/ks43team03/tree/GSW">43기 개발자 김선원</a></li>
						<li><a href="https://github.com/ssinokang/ks43team03/tree/JDW">43기 개발자 정다운</a></li>
						<li><a href="https://github.com/ssinokang/ks43team03/tree/WCB">43기 개발자 위찬복</a></li>
						<li><a href="https://github.com/ssinokang/ks43team03/tree/KJH">43기 개발자 김지혜</a></li>
					</ul>	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-5">
				<div class="footer__widget">
					<h6>Support</h6>
					<ul>
						<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 이형렬</a></li>
						<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 이용탁</a></li>
						<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 홍승윤</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-4">
				<div class="footer__widget">
					<h6>고객센터</h6>
					<ul>
						<li><a href="#">자주 묻는 질문</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">개인정보취급방침</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-8 col-sm-8">
				<div class="footer__newslatter">
					<h6>NEWSLETTER</h6>
					<form action="#">
						<input type="text" placeholder="Email">
						<button type="submit" class="site-btn">Subscribe</button>
					</form>
					<div class="footer__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-youtube-play"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<div class="footer__copyright__text">
					<p>Copyright &copy;
					<script>document.write(new Date().getFullYear());</script>
					| 43기 3팀 체육시설통합 서비스 | github
					<i class="fa fa-github-square" aria-hidden="true"></i>
					by <a href="https://github.com/ssinokang/ks43team03" target="_blank">ks43team03</a>
					</p>
				</div>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</div>
		</div>
	</div>
</footer>
<!-- Footer Section End -->
	
</html>