<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head th:fragment="headFragment">
	<meta charset="UTF-8">
	<meta name="description" content="Ashion Template">
	<meta name="keywords" content="Ashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
	rel="stylesheet">
	
	<!-- Css Styles -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
	
	<!-- favicon -->
	<link th:href="@{/img/title.png}" rel="shortcut icon" type="image/x-icon">	
	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle"></th:block>
	<!-- 사용자 정의 css 선언 -->
	<th:block layout:fragment="customCss"></th:block>
	<!-- 사용자 정의 js 선언 -->
	<th:block layout:fragment="customJs"></th:block>
</head>

</html>