<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Header Section Begin -->
<header class="header" th:fragment="headerFragment">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-2 col-lg-2">
				<div class="header__logo">
					<a th:href="@{/}"><img src="../img/-003.png" style="max-width: 50%" alt=""></a>
				</div>
			</div>
			<div class="col-xl-5 col-lg-5">
				<nav class="header__menu">
					<ul>

						<li><a th:href="@{/facility/facilityList}">시설!<br/><small>(정다운)</small></a>
							<ul class="dropdown">
								<li><a href="#">넣기전에</a></li>
								<li><a href="#">항상</a></li>
								<li><a href="#">먼저</a></li>
								<li><a href="#">말씀해주세요~</a></li>
							</ul>
						</li>
						<li><a th:href="@{/lesson/lessonListForUser(searchCtg=LessonSearch)}">레슨!<br/><small>(김선원)</small></a>
							<ul class="dropdown">
								<li><a href="#">넣기전에</a></li>
								<li><a href="#">항상</a></li>
								<li><a href="#">먼저</a></li>
								<li><a href="#">말씀해주세요~</a></li>
							</ul>
						</li>
						<li><a href="#">이용권#<br/><small>(위찬복)</small></a>
							<ul class="dropdown">
								<li><a href="#">넣기전에</a></li>
								<li><a href="#">항상</a></li>
								<li><a href="#">먼저</a></li>
								<li><a href="#">말씀해주세요~</a></li>
							</ul>
						</li>
						<li><a th:href="@{/stadium/stadiumList}">구장!<br/><small>(정다운)</small></a>
							<ul class="dropdown">
								<li><a href="#">넣기전에</a></li>
								<li><a href="#">항상</a></li>
								<li><a href="#">먼저</a></li>
								<li><a href="#">말씀해주세요~</a></li>
							</ul>
						</li>
						<li><a th:href="@{/board/boardList}">게시판!<br/><small>(신서진)</small></a>
							<ul class="dropdown">
								<li><a href="#">넣기전에</a></li>
								<li><a href="#">항상</a></li>
								<li><a href="#">먼저</a></li>
								<li><a href="#">말씀해주세요~</a></li>
							</ul>
						</li>
						<li><a href="/trainer/trainerList">트레이너!<br/><small>(강신호)</small></a>
							<ul class="dropdown">
								<li><a href="#">넣기전에</a></li>
								<li><a href="#">항상</a></li>
								<li><a href="#">먼저</a></li>
								<li><a href="#">말씀해주세요~</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-5">
				<div class="header__right">
					<div class="header__right__auth">
						<th:block th:if="${session.SID == null}">
							<a href="/login">Login</a>
							<a href="/logout">Logout<br/><small>(김지혜)</small></a>
						</th:block>
						<th:block th:unless="${session.SID == null}">
							<a href="/user/userDetail">
								[[${session.SNAME}]]님 마이페이지!
							</a>
							<a href="/logout">Logout<br/><small>(강신호) / (김지혜)</small></a>
						</th:block>
						<!-- <a href="#">Register</a> -->
					</div>
					<ul class="header__right__widget">
						<li><span class="icon_search search-switch"></span></li>
						<li>
							<a href="/boomk/boomkList">
								<i class="fa fa-heart"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon_bag_alt"></span>
								<div class="tip">2</div>
							</a>
						</li>
						<li>
							<a href="/admin"  title="관리자페이지">
								<span class="icon_house_alt"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="canvas__open">
			<i class="fa fa-bars"></i>
		</div>
		
			<form th:action="@{/search}" method="post">
						
				<div class="row">
					<div class="mx-auto col-8 input-group">
						<p class="col-2">
							공공/사설 :
						</p>
						<select class="col-4" name="mainCtgCd">
							<option value="">:: 전체 ::</option>
							<option value="gg">공공</option>
							<option value="ss">사설</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="mx-auto col-8 input-group">
						<p class="col-2">
							시/도
						</p>
						<select class="col-4" name="areaCd" id="area">
							<option value="">:: 전체 ::</option>
							<th:block th:if="${not #lists.isEmpty(areaList)}" th:each="a : ${areaList}">
								<option th:value="${a.areaCd}">[[${a.areaNm}]]</option>
							</th:block>
							<th:block th:unless="${not #lists.isEmpty(areaList)}">
								<option>없음</option>
							</th:block>
						</select>
						<p class="col-2">
							시/군/구 :
						</p>
						<select class="col-4" name="CityCd" id="areaCity">
							<option value="">:: 전체 ::</option>
							<th:block th:if="${not #lists.isEmpty(areaCityList)}" th:each="acl : ${areaCityList}">
								<option th:value="${acl.cityCd}">[[${acl.cityNm}]]</option>
							</th:block>
							<th:block th:unless="${not #lists.isEmpty(areaCityList)}">
								
							</th:block>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="mx-auto col-8 input-group">
						<p class="col-2">
							중분류 :
						</p>
						<select class="col-4" name="searchCtg">
							<option value="FacilitySearch">시설</option>
							<option value="LessonSearch">레슨</option>
							<option value="StadiumSearch">대관</option>
							<option value="TrainerSearch">트레이너</option>
							<option value="NoticeSearch">게시판</option>
						</select>
						<p class="col-2">
							종목 :
						</p>
						<select class="col-4" name="sportsCd">
							<option value="">:: 전체 ::</option>
							<th:block th:if="${not #lists.isEmpty(sportsList)}" th:each="s : ${sportsList}">
								<option th:value="${s.sportsCd}">[[${s.sportsName}]]</option>
							</th:block>
							<th:block th:unless="${not #lists.isEmpty(sportsList)}">
								<option>없음</option>
							</th:block>
						</select>
					</div>
				</div>
				
				<div class="row">
					<div class="mx-auto col-8 search-bar input-group">
						<input name="sv" type="text" class="form-control rounded-pill" id="searchBar" placeholder="검색 또는 URL 입력" aria-label="Recipient's username" aria-describedby="button-addon2">
					</div>
				</div>
			</form>
		
	</div>

</header>
<!-- Header Section End -->
	
</html>