<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	  
	 <th:block layout:fragment="customContents">
	 
		<section class="board-details spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<div class="board__details__content">
							<div class="board__details__item">
								<img src="img/board/details/board-details.jpg" alt="">
								<input type="hidden">
								<div class="board__details__item__title">
									<span class="tip">공지</span>
									<label>공지사항01</label>
									<ul>
										<li>by
											<span>userId</span>
										</li>
										<li>Seb 17, 2019</li>
										<li>39 Comments</li>
									</ul>
								</div>
							</div>
							<div class="board__details__desc">
								<p>
									공지합니다.
								</p>
							</div>
							<div class="board__details__btns">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="board__details__btn__item">
											<h6>
												<a href="#">
													<i class="fa fa-angle-left"></i>
													이전
												</a>
											</h6>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="board__details__btn__item board__details__btn__item--next">
											<h6>
												<a href="#">
													다음
													<i class="fa fa-angle-right"></i>
												</a>
											</h6>
										</div>
									</div>
								</div>
							</div>
							<div class="board__details__comment">
								<h5>3 Comment</h5>
								<a href="@{board/addComment}" class="leave-btn">답글쓰기</a>
								<div class="board__comment__item">
									<div class="board__comment__item__pic">
										<img src="img/board/details/comment-1.jpg" alt="">
									</div>
									<div class="board__comment__item__text">
										<h6>강트레이너</h6>
										<p>
											확인했습니다.
										</p>
										<ul>
											<li>
												<i class="fa fa-clock-o"></i>
												Seb 17, 2019
											</li>
											<li>
												<i class="fa fa-heart-o"></i>
												12
											</li>
											<li>
												<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#CA1515" class="bi bi-trash3" viewBox="0 0 16 16">
												  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
												</svg>
												삭제
											</li>
										</ul>
									</div>
								</div>
								<div class="board__comment__item board__comment__item--reply">
									<div class="board__comment__item__pic">
										<img src="img/board/details/comment-2.jpg" alt="">
									</div>
									<div class="board__comment__item__text">
										<h6>김트레이너</h6>
										<p>
											네.
										</p>
										<ul>
											<li>
												<i class="fa fa-clock-o"></i>
												Seb 17, 2019
											</li>
											<li>
												<i class="fa fa-heart-o"></i>
												12
											</li>
											<li>
												<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#CA1515" class="bi bi-trash3" viewBox="0 0 16 16">
												  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
												</svg>
												삭제
											</li>
										</ul>
									</div>
								</div>
								<div class="board__comment__item">
									<div class="board__comment__item__pic">
										<img src="img/board/details/comment-3.jpg" alt="">
									</div>
									<div class="board__comment__item__text">
										<h6>이트레이너</h6>
										<p>
											왜죠?
										</p>
										<ul>
											<li>
												<i class="fa fa-clock-o"></i>
												Seb 17, 2019
											</li>
											<li>
												<i class="fa fa-heart-o"></i>
												12
											</li>
											<li>
												<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="#CA1515" class="bi bi-trash3" viewBox="0 0 16 16">
												  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
												</svg>
												삭제
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="board__sidebar">
							<div class="board__sidebar__item">
								<div class="section-title">
									<h4>Categories</h4>
								</div>
								<ul>
									<li>
										<a href="#">
											공지
											<span>(250)</span>
										</a>
									</li>
									<li>
										<a href="#">
											문의
											<span>(80)</span>
										</a>
									</li>
									<li>
										<a href="#">
											상담
											<span>(75)</span>
										</a>
									</li>
									<li>
										<a href="#">
											건의
											<span>(35)</span>
										</a>
									</li>
									<li>
										<a href="#">
											신고
											<span>(60)</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="board__sidebar__item">
								<div class="section-title">
									<h4>자주묻는질문</h4>
								</div>
								<a href="#" class="board__feature__item">
									<div class="board__feature__item__text">
										<h6>결제가 안돼요!</h6>
										<span>Seb 17, 2019</span>
									</div>
								</a>
								<a href="#" class="board__feature__item">
									<div class="board__feature__item__text">
										<h6>트레이너 등록은 어떻게 하는건가요?</h6>
										<span>Seb 17, 2019</span>
									</div>
								</a>
								<div class="board__feature__item__text">
									<h6>예약한 시설이 전화를 안받아요.</h6>
									<span>Seb 17, 2019</span>
								</div>
							</div>
							<div style="float: left; width: 50%">
								<a th:href="@{/board/modifyBoard}">
									<button type="button" class="site-btn" style="margin-top: 20px;">수정하기</button>
								</a>
							</div>
							<div style="float: left; width: 50%">
								<a>
									<button type="button" class="site-btn" style="margin-top: 20px;">삭제하기</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- board Details Section End -->
	 </th:block>

</html>