<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.form-group{margin-top: 30px;}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		
		<script>
		$(function(){
			
			function validationCheck(data){
				if(typeof data == 'undefined' || data == '' || data == null){
					return false;
				}
				return true;
			}
		
		/* 경력 추가 시 유효성 검사 */
		$('#addCareerBtn').click(function(){
				var isSubmit = true;
				var inputObj = $('#careerUl').find('input');
				
				$.each(inputObj, function(){
					var inputData = $(this).val();
					var result = validationCheck(inputData);
					
					// 사용자가 입력하지 않은 경우
					if(!result){
						alert('필수 항목입니다. 입력해주세요.');
						$('#careerNotice').text('경력 사항이 없을 경우 다음페이지로 이동하세요.');
						$(this).focus();
						isSubmit = false;
						
						return false;
					}
				});
				
				/* 여러 li list 형태로 보내기 */
				if(isSubmit){
					var trainerCareerList = [];
					
					var careerNum = $('#careerUl li').length;
					
					console.log(careerNum);
					
					for(var i=0; i<careerNum; i++){
						
						var trainerCareer = new Object();
						
						trainerCareer.trainerCd = $('input[name="trainerCd"]').val()
						trainerCareer.trainerCareerTerm = $('input[name="trainerCareerTerm"]').eq(i).val()
						trainerCareer.trainerCareerCenter = $('input[name="trainerCareerCenter"]').eq(i).val()
						trainerCareer.trainerCareerPosition = $('input[name="trainerCareerPosition"]').eq(i).val()
						trainerCareer.trainerCareerWork = $('input[name="trainerCareerWork"]').eq(i).val()
						trainerCareer.trainerCareerFile = $('input[name="trainerCareerFile"]').eq(i).val()
						
						trainerCareerList.push(trainerCareer);
					}
						console.log(trainerCareerList);
						console.log(trainerCareer.trainerCd);
						
					$.ajax({
						 url: '/trainer/addCareer'
						,type: 'POST'
						,data: JSON.stringify(trainerCareerList)
						,contentType: 'application/json; charset=utf-8'
						,dataType: 'json'
						,success: function(data){
							console.log(data);
							if(data) $(location).attr('href','/trainer/addLicense?trainerCd='+trainerCareer.trainerCd);
						}
					});
				}
			});
			
			
			/*리스트 추가 삭제*/
			$('#delLi').click(function(){
				var careerNum = $('#careerUl li').length;
				
				if(careerNum > 1){
					$(this).parents('li').remove();
				}
			});
			$('#addLi').click(function(){
				var
					 $clone = $(this).parents('li').clone(true)
					,$inputClone = $clone.find('input');
				
				$.each($inputClone, function(){
					$(this).val('');
				});
				$(this).parents('ul').append($clone);
			});
		});
		</script>
	</th:block>
	
	 
	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>addCareer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 경력 등록 -->
		<div class="container" th:if="${#strings.isEmpty(session.SID)}">
			<h4>로그인이 필요한 서비스입니다.</h4>
		</div>
		<div class="container" th:unless="${#strings.isEmpty(session.SID)}">
			<span id="careerNotice" style="color: red;">
			</span>
			<input type="hidden" name="trainerCd" th:value="${trainerCd}">
			<ul class="list-group list-group-flush" id="careerUl">
				<li class="list-group-item a">
					<div class="row">
						<div class="col-sm-3">
							<span>경력사항</span>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-secondary btn-sm" id="addLi">추가</button>
							<button type="button" class="btn btn-secondary btn-sm" id="delLi">삭제</button>
						</div>
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerCareerTerm">기간
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6">
							<input type="number" class="form-control" name="trainerCareerTerm">
						</div>
						<div>
							<span class="required">년</span>
						</div>
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerCareerCenter">시설명
							<span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 ">
							<input type="text" class="form-control" name="trainerCareerCenter">
						</div>
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerCareerPosition">직책
							<span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 ">
							<input type="text" class="form-control" name="trainerCareerPosition">
						</div>
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerCareerWork">직무
							<span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 ">
							<input type="text" class="form-control" name="trainerCareerWork">
						</div>
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerCareerFile">첨부 파일
							<span class="required"></span>
						</label>
						<div class="col-md-9 col-sm-9 ">
							<input type="text" class="form-control" name="trainerCareerFile" placeholder="원래는 첨부 파일  그냥 doc 입력 바람">
						</div>
					</div>
				</li>
			</ul>
			<div class="row pt-2">
				<div class="col-md-8 col-sm-8  offset-md-4">
					<a th:href="@{/trainer/trainerDetail(trainerCd=${trainerCd})}">
						<button type="button" class="btn btn-primary">취소</button>
					</a>
					<button type="button" id="addCareerBtn" class="btn btn-success">등록</button>
					<a th:href="@{/trainer/addLicense(trainerCd=${trainerCd})}">
						<button type="button" class="btn btn-info">다음</button>
					</a>
				</div>
			</div>
		</div>
	</th:block>
</html>