<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.form-group{margin-top: 30px;}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		
		<script>
		$(function(){
			
			function validationCheck(data){
				if(typeof data == 'undefined' || data == '' || data == null){
					return false;
				}
				return true;
			}
		
		/* 자격증 추가 시 유효성 검사 */
		$('#addLicenseBtn').click(function(){
				var isSubmit = true;
				var inputObj = $('#licenseUl').find('input');
				
				$.each(inputObj, function(){
					var inputData = $(this).val();
					var result = validationCheck(inputData);
					
					// 사용자가 입력하지 않은 경우
					if(!result){
						alert('필수 항목입니다. 입력해주세요.');
						$('#licenseNotice').text('경력 사항이 없을 경우 확인 버튼을 눌러주세요.');
						$(this).focus();
						isSubmit = false;
						
						return false;
					}
				});
				
				/* 여러 li list 형태로 보내기 */
				if(isSubmit){
					var trainerLicenseList = [];
					
					var licenseNum = $('#licenseUl li').length;
					
					console.log(licenseNum);
					
					for(var i=0; i<licenseNum; i++){
						
						var trainerLicense = new Object();
						
						trainerLicense.trainerLicense = $('input[name="trainerLicense"]').eq(i).val()
						trainerLicense.trainerLicenseFile = $('input[name="trainerLicenseFile"]').eq(i).val()
						
						trainerLicenseList.push(trainerLicense);
					}
						console.log(trainerLicenseList);
					
					$.ajax({
						 url: '/trainer/addLicense'
						,type: 'POST'
						,data: JSON.stringify(trainerLicenseList)
						,contentType: 'application/json; charset=utf-8'
						,dataType: 'json'
						,success: function(data){
							console.log(data);
							if(data) $(location).attr('href','/');
						}
					});
				}
			});
			
			
			/*리스트 추가 삭제*/
			$('#delLi').click(function(){
				var licenseNum = $('#licenseUl li').length;
				
				if(licenseNum > 1){
					$(this).parents('li').remove();
				}
			});
			$('#addLi').click(function(){
				var
					 $clone = $(this).parents('li').clone(true)
					,$inputClone = $clone.find('input');
				
				$.each($inputClone, function(){
					$(this).val('');
				});
				
				$(this).parents('ul').append($clone);
			});
		});
		</script>
	</th:block>
	
	 
	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option" th:fragment="breadcrumbFragment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>addLicense</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 자격증 등록 -->
		<div class="container" th:if="${#strings.isEmpty(session.SID)}">
			<h4>로그인이 필요한 서비스입니다.</h4>
		</div>
		<div class="container" th:unless="${#strings.isEmpty(session.SID)}">
			<span id="licenseNotice" style="color: red;">
			</span>
			<ul class="list-group list-group-flush" id="licenseUl">
				<li class="list-group-item a">
					<div class="row">
						<div class="col-sm-3">
							<span>자격증</span>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-secondary btn-sm" id="addLi">추가</button>
							<button type="button" class="btn btn-secondary btn-sm" id="delLi">삭제</button>
						</div>
					</div>
					<div class="row">
						<input type="hidden" class="form-control" name="trainerCd" th:value="">
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerLicense">자격증
							<span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6">
							<input type="number" class="form-control" name="trainerLicense">
						</div>
					</div>
					<div class="row">
						<label class="control-label col-md-3 col-sm-3" for="trainerLicenseFile">자격증 파일
							<span class="required"></span>
						</label>
						<div class="col-md-9 col-sm-9 ">
							<input type="text" class="form-control" name="trainerLicenseFile" placeholder="원래는 첨부 파일  그냥 doc 입력 바람">
						</div>
					</div>
				</li>
			</ul>
			<div class="row pt-2">
				<div class="col-md-8 col-sm-8  offset-md-4">
					<a th:href="@{/}">
						<button type="button" class="btn btn-primary">취소</button>
					</a>
					<button type="button" id="addLicenseBtn" class="btn btn-success">등록</button>
					<a th:href="@{/}">
						<button type="button" class="btn btn-info">확인</button>
					</a>
				</div>
			</div>
		</div>
	</th:block>
</html>