<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.board__details__item__title ul li {
				display: block;
			}
			.board__details__item__title ul li:after {
				content: none;
			}
			.board__details__desc ul li {
				border: none;
				padding: 10px 5px;
			}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		
		<script>
			/* 닉네임 중복 여부 검사 */
			$(function(){
				
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null){
						return false;
					}
					return true;
				}
				
				var $modifyNicknameBtn = $('#modifyNicknameBtn');
				
				$(document).on('keyup', 'input[name="trainerNickname"]', function(){
					$modifyNicknameBtn.prop('disabled', true);
				});
				
				$('#nicknameCheck').click(function(){
					console.log('test');
					var trainerNickname = $('input[name="trainerNickname"]').val();
					
					var vCheck = validationCheck(trainerNickname);
					
					if(vCheck){
						$.ajax({
							 url: '/trainer/nicknameCheck'
							,type: 'POST'
							,data: {'trainerNickname' : trainerNickname}
							,dataType: 'json'
							,success: function(data){
								console.log(data);
								// 화면에서 맨처음 아이디를 제외한 모든 입력하는 요소는 비활성화 (HTML 속성 추가 disabled="disabled") 
								// 아이디 중복이 발생 않은 경우(회원가입 O) 입력하는 요소는 활성화
								if(data){
									$('#nicknameCheckResult').text('사용 가능한 닉네임 입니다.');
									$('#nicknameCheckResult').css('color','blue');
									$modifyNicknameBtn.prop('disabled', false);
								}else{									
									// 아이디 중복이 발생하는 경우(회원가입 X) 입력하는 요소는 비활성화
									$('#nicknameCheckResult').text('중복된 닉네임이 있습니다.');
									$('#nicknameCheckResult').css('color','red');
									$modifyNicknameBtn.prop('disabled', true);
								}
							}
						});
					}
				});
				
				$modifyNicknameBtn.click(function(){
					console.log('test');
					
					$('#modifyNicknameForm').attr('action','/trainer/modifyTrainer').submit();
				});
				
			});
		</script>
	</th:block>
	

	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>trainerDetail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 트레이너 정보 -->
		<section class="board-details spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="board__details__content">
							<div class="board__details__item">
								<img src="img/board/details/board-details.jpg" alt="">
								<div class="board__details__item__title">
									<span class="tip">트레이너</span>
									<div class="form-group row">
										<label class="control-label col-md-3 col-sm-3" for="nowTrainerNickname">닉네임
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" name="nowTrainerNickname" th:value="${trainerProfile.trainerNickname}" readonly="readonly">
										</div>
										<div class="col-md-3 col-sm-3">
											<button type="button" class="btn-primary form-control" data-toggle="modal" data-target="#modifyModal">변경</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="control-label col-md-3 col-sm-3" for="trainerPicture">프로필 사진
											<span class="required">*</span>
										</label>
										<div class="col-md-9 col-sm-9 ">
											<input type="text" class="form-control" name="trainerPicture" th:value="${trainerProfile.trainerPicture}" placeholder="원래는 사진 첨부 파일  그냥 img 입력 바람">
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-8 col-sm-8  offset-md-4">
											<a th:href="@{/}">
												<button type="button" class="btn btn-primary">취소</button>
											</a>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="product__details__pic">
							<div class="product__details__slider__content">
								<div class="product__details__pic__slider owl-carousel">
									<img data-hash="product-1" class="product__big__img" src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201608/04/htm_2016080484837486184.jpg/_ir_1250x834_/" alt="">
									<img data-hash="product-2" class="product__big__img" src="https://cdn.ikoreadaily.co.kr/news/photo/201505/198248_93383_78.jpg" alt="">
									<img data-hash="product-3" class="product__big__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT39egyJYwCvo9ybQ8grzut7-74plOElbIhzA&usqp=CAU" alt="">
									<img data-hash="product-4" class="product__big__img" src="http://img.tf.co.kr/article/home/2015/08/20/201520301440032275.jpg" alt="">
								</div>
							</div>
							<div class="product__details__pic__left product__thumb nice-scroll">
								<a class="pt active" href="#product-1">
									<img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201608/04/htm_2016080484837486184.jpg/_ir_1250x834_/" alt="">
								</a>
								<a class="pt" href="#product-2">
									<img src="https://cdn.ikoreadaily.co.kr/news/photo/201505/198248_93383_78.jpg" alt="">
								</a>
								<a class="pt" href="#product-3">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT39egyJYwCvo9ybQ8grzut7-74plOElbIhzA&usqp=CAU" alt="">
								</a>
								<a class="pt" href="#product-4">
									<img src="http://img.tf.co.kr/article/home/2015/08/20/201520301440032275.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Modal -->
				<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<form id="modifyNicknameForm" method="post">
						<div class="modal-dialog" role="document">
					 		<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">닉네임 변경</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group row">
										<div class="col-md-3 col-sm-3">
											<label class="control-label" for="trainerNickname">닉네임</label>
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" name="trainerNickname">
										</div>
										<div class="col-md-3 col-sm-3">
											<button type="button" class="btn-primary form-control" id="nicknameCheck">중복체크</button>
										</div>
										<div class="offset-md-3">
											<span id="nicknameCheckResult" style="padding-left: 15px;"></span>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<div class="form-group">
										<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
										<button type="button" class="btn btn-info" id="modifyNicknameBtn" disabled="disabled">저장</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</section>
	</th:block>
</html>