<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.board__details__item__title ul li {
				display: block;
			}
			.board__details__item__title ul li:after {
				content: none;
			}
			.board__details__desc ul li {
				border: none;
				padding: 10px 5px;
			}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		
		<script>
			/* 닉네임 중복 여부 검사 */
			$(function(){
				
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null){
						return false;
					}
					return true;
				}
				
				var $modifyNicknameBtn = $('#modifyNicknameBtn');
				
				$(document).on('keyup', 'input[name="trainerNickname"]', function(){
					$modifyNicknameBtn.prop('disabled', true);
				});
				
				$('#nicknameCheck').click(function(){
					console.log('test');
					var trainerNickname = $('input[name="trainerNickname"]').val();
					
					var vCheck = validationCheck(trainerNickname);
					
					if(vCheck){
						$.ajax({
							 url: '/trainer/nicknameCheck'
							,type: 'POST'
							,data: {'trainerNickname' : trainerNickname}
							,dataType: 'json'
							,success: function(data){
								console.log(data);
								// 화면에서 맨처음 아이디를 제외한 모든 입력하는 요소는 비활성화 (HTML 속성 추가 disabled="disabled") 
								// 아이디 중복이 발생 않은 경우(회원가입 O) 입력하는 요소는 활성화
								if(data){
									$('#nicknameCheckResult').text('사용 가능한 닉네임 입니다.');
									$('#nicknameCheckResult').css('color','blue');
									$modifyNicknameBtn.prop('disabled', false);
								}else{									
									// 아이디 중복이 발생하는 경우(회원가입 X) 입력하는 요소는 비활성화
									$('#nicknameCheckResult').text('중복된 닉네임이 있습니다.');
									$('#nicknameCheckResult').css('color','red');
									$modifyNicknameBtn.prop('disabled', true);
								}
							}
						});
					}
				});
				
				$modifyNicknameBtn.click(function(){
					console.log('test');
					
					$('#modifyNicknameForm').attr('action','/trainer/modifyTrainer').submit();
				});
				
			});
		</script>
		
	</th:block>
	

	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>trainerDetail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 트레이너 정보 -->
		<section class="board-details spad">
			<div class="container">
				<input type="hidden" id="trainerData" th:value="${trainerProfile.trainerCd}">
				<div class="row" style="padding-bottom: 80px">
					<div class="product__details__pic col-lg-6 col-md-6">
						<div class="product__details__pic__left product__thumb nice-scroll">
							<th:block th:if="${not #lists.isEmpty(trainerProfile.tFile)}" th:each="t, i : ${trainerProfile.tFile}">
								<a class="pt" th:data-img="${t.representImg}" th:href="@{#product-} + ${i.index+1}">
									<img th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="" style="height: 60px;">
								</a>
							</th:block>
						</div>
						<div class="product__details__slider__content">
							<div class="product__details__pic__slider owl-carousel">
								<th:block  th:if="${not #lists.isEmpty(trainerProfile.tFile)}" th:each="t, i : ${trainerProfile.tFile}">                           
									<img th:data-hash="@{product-} + ${i.index+1}" class="product__big__img" th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="" style="height: 300px;">
								</th:block>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="board__details__content">
							<div class="board__details__item">
								<img src="img/board/details/board-details.jpg" alt="">
								<div class="board__details__item__title">
									<span class="tip">트레이너</span>
									<h4>[[${trainerProfile.trainerNickname}]]</h4>
								</div>
									<div class="form-group row">
										<label class="control-label col-md-3 col-sm-3" for="nowTrainerNickname">닉네임
											<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" name="nowTrainerNickname" th:value="${trainerProfile.trainerNickname}" readonly="readonly">
										</div>
										<div class="col-md-3 col-sm-3">
											<button type="button" class="btn-primary form-control" data-toggle="modal" data-target="#modifyModal">변경</button>
										</div>
									</div>
									<div class="form-group row">
										<label class="control-label col-md-3 col-sm-3" for="trainerImgFile">프로필 사진
											<span class="required">*</span>
										</label>
										<div class="col-md-9 col-sm-9">
											<ul th:if="${not #lists.isEmpty(trainerProfile.tFile)}" class="list-group list-group-flush">
												<th:block th:each="l,status : ${trainerProfile.tFile}">
													<li class="list-group-item">
														<span th:text="${l.originalFileName}" th:data-fileLiSize="${status.size}"></span>
													</li>
												</th:block>
											</ul>
											<th:block th:if="${#lists.size(trainerProfile.tFile) < 4}">
												<ul id="plusUl" class="list-group list-group-flush">
													<li class="list-group-item">
														<input type="file" class="form-control" name="trainerImgFile"  accept="image/*" required>
														<button type="button" id="addLi">플러스</button>
														<button type="button" id="delLi">마이너스</button>
													</li>
												</ul>
											</th:block>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-8 col-sm-8  offset-md-4">
											<a th:href="@{/}">
												<button type="button" class="btn btn-primary">취소</button>
											</a>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Modal -->
				<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<form id="modifyNicknameForm" method="post">
						<div class="modal-dialog" role="document">
					 		<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">닉네임 변경</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group row">
										<div class="col-md-3 col-sm-3">
											<label class="control-label" for="trainerNickname">닉네임</label>
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" name="trainerNickname">
										</div>
										<div class="col-md-3 col-sm-3">
											<button type="button" class="btn-primary form-control" id="nicknameCheck">중복체크</button>
										</div>
										<div class="offset-md-3">
											<span id="nicknameCheckResult" style="padding-left: 15px;"></span>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<div class="form-group">
										<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
										<button type="button" class="btn btn-info" id="modifyNicknameBtn" disabled="disabled">저장</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</section>
		
		<script>
			// 최대 li 개수
			var fileLiSize = Number(document.querySelector('[data-fileLiSize]').getAttribute('data-fileLiSize'));
			var maxLiNum = 4-fileLiSize;
		</script>
		<script th:src="@{/resource/js/listUpdate.js}"></script>
	</th:block>
</html>