<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.board__details__item__title ul li {
				display: block;
			}
			.board__details__item__title ul li:after {
				content: none;
			}
			.board__details__desc ul li {
				border: none;
				padding: 10px 5px;
			}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	</th:block>
	

	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option" th:fragment="breadcrumbFragment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>trainerDetail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 트레이너 정보 -->
		<section class="board-details spad">
			<div class="container">
				<div class="row" style="padding-bottom: 80px">
					<div class="col-lg-6 col-md-6">
						<div class="board__details__content">
							<div class="board__details__item">
								<img src="img/board/details/board-details.jpg" alt="">
								<div class="board__details__item__title">
									<span class="tip">트레이너</span>
									<a th:href="@{/trainer/modifyTrainer(trainerCd=${trainerProfile.trainerCd})}">
										<button class="tip btn">트레이너 정보 수정</button>
									</a>
									<h4>[[${trainerProfile.trainerNickname}]]</h4>
									<ul>
										<li>
											phone
											<span>[[${trainerProfile.user.userTell}]]</span>
										</li>
										<li>이메일 등 들어 갈 수 있음</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="product__details__pic">
							<div class="product__details__slider__content">
								<div class="product__details__pic__slider owl-carousel">
									<img data-hash="product-1" class="product__big__img" src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201608/04/htm_2016080484837486184.jpg/_ir_1250x834_/" alt="">
									<img data-hash="product-2" class="product__big__img" src="https://cdn.ikoreadaily.co.kr/news/photo/201505/198248_93383_78.jpg" alt="">
									<img data-hash="product-3" class="product__big__img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT39egyJYwCvo9ybQ8grzut7-74plOElbIhzA&usqp=CAU" alt="">
									<img data-hash="product-4" class="product__big__img" src="http://img.tf.co.kr/article/home/2015/08/20/201520301440032275.jpg" alt="">
								</div>
							</div>
							<div class="product__details__pic__left product__thumb nice-scroll">
								<a class="pt active" href="#product-1">
									<img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201608/04/htm_2016080484837486184.jpg/_ir_1250x834_/" alt="">
								</a>
								<a class="pt" href="#product-2">
									<img src="https://cdn.ikoreadaily.co.kr/news/photo/201505/198248_93383_78.jpg" alt="">
								</a>
								<a class="pt" href="#product-3">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT39egyJYwCvo9ybQ8grzut7-74plOElbIhzA&usqp=CAU" alt="">
								</a>
								<a class="pt" href="#product-4">
									<img src="http://img.tf.co.kr/article/home/2015/08/20/201520301440032275.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div>
							<div class="board__details__quote">
								<div class="icon">
									<i class="fa fa-quote-left"></i>
								</div>
						 		<p>
						 			소개 강조 글
								</p>
							</div>
							<div class="board__details__desc">
								<p>
									소개 글 있으면 좋을 듯
								</p>
							</div>
							<div class="board__details__tags">
								<a href="#">Fashion</a>
								<a href="#">Street style</a>
								<a href="#">Diversity</a>
								<a href="#">Beauty</a>
							</div>
							<div class="board__details__quote">
								<div class="icon">
									<i class="fa fa-quote-left"></i>
								</div>
								<div th:if="${session.SID eq trainerProfile.userId}">
									<a th:href="@{/trainer/addCareer(trainerCd=${trainerProfile.trainerCd})}">
										<button class="btn btn-info btn-sm">경력 및 자격증 추가</button>
									</a>
									<a th:href="@{/trainer/modifyTrainer(trainerCd=${trainerProfile.trainerCd})}">
										<button class="btn btn-primary btn-sm">경력 및 자격증 수정</button>
									</a>
									<a th:href="@{/trainer/modifyTrainer(trainerCd=${trainerProfile.trainerCd})}">
										<button class="btn btn-danger btn-sm">경력 및 자격증 삭제</button>
									</a>
								</div>
						 		<p>
						 			경력
								</p>
							</div>
							<div class="board__details__desc">
								<ul class="list-group list-group-horizontal"
									th:if="${not #lists.isEmpty(trainerCareer.trainerCareerList)}" th:each="l : ${trainerCareer.trainerCareerList}">
									<li class="list-group-item">
										<span>[[${l.trainerCareerCenter}]]</span>
									</li>
									<li class="list-group-item">
										<span>[[${l.trainerCareerPosition}]]</span>
									</li>
									<li class="list-group-item">
										<span>[[${l.trainerCareerWork}]]</span>
									</li>
									<li class="list-group-item">
										<span>[[${l.trainerCareerTerm}]]</span>
										년
									</li>
								</ul>
								<ul class="list-group list-group-horizontal"
									th:unless="${not #lists.isEmpty(trainerCareer.trainerCareerList)}">
									<li class="list-group-item">
										<span>등록된 경력 사항이 없습니다.</span>
									</li>
								</ul>
							</div>
							<div class="board__details__tags">
								<a href="#">Fashion</a>
								<a href="#">Street style</a>
								<a href="#">Diversity</a>
								<a href="#">Beauty</a>
							</div>
							<div class="board__details__quote">
								<div class="icon">
									<i class="fa fa-quote-left"></i>
								</div>
						 		<p>
						 			자격증
								</p>
							</div>
							<div class="board__details__desc">
								<ul class="list-group list-group-horizontal"
									th:if="${not #lists.isEmpty(trainerLicense.trainerLicenseList)}" th:each="l : ${trainerLicense.trainerLicenseList}">
									<li class="list-group-item">
										<span>[[${l.trainerLicense}]]</span>
									</li>
								</ul>
								<ul class="list-group list-group-horizontal"
									th:unless="${not #lists.isEmpty(trainerLicense.trainerLicenseList)}">
									<li class="list-group-item">
										<span>등록된 자격증이 없습니다.</span>
									</li>
								</ul>
							</div>
							<div class="board__details__tags">
								<a href="#">Fashion</a>
								<a href="#">Street style</a>
								<a href="#">Diversity</a>
								<a href="#">Beauty</a>
							</div>
							<div class="board__details__btns">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="board__details__btn__item">
											<h6>
												<a href="#">
													<i class="fa fa-angle-left"></i>
													Previous posts
												</a>
											</h6>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="board__details__btn__item board__details__btn__item--next">
											<h6>
												<a href="#">
													Next posts
													<i class="fa fa-angle-right"></i>
												</a>
											</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
</html>