<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	</th:block>
	

	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option" th:fragment="breadcrumbFragment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>trainerDetail</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 트레이너 정보 -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="blog__details__content">
						<div class="blog__details__item">
							<img src="img/blog/details/blog-details.jpg" alt="">
							<div class="blog__details__item__title">
								<span class="tip">Street style</span>
								<h4>Being seen: how is age diversity effecting change in fashion and beauty?</h4>
								<ul>
									<li>by
										<span>Ema Timahe</span>
									</li>
									<li>Seb 17, 2019</li>
									<li>39 Comments</li>
								</ul>
							</div>
						</div>
						<div class="blog__details__desc">
							<p>
								Afashion season can be defined as much by the people on the catwalk as it can by the
								clothes they are wearing. This time around, a key moment came at the end of Marc Jacobs’
								New York show, when an almost makeup-free Christy Turlington made a rare return to the
								catwalk, aged 50 (she also stars, with the designer himself, in the label’s AW ad
								campaign), where the average catwalk model is around 18.
							</p>
							<p>
								A few days later, Simone Rocha arguably upped the ante. The 32-year-old’s show – in part
								inspired by Louise Bourgeois, who lived until she was 98 – featured models in their 30s
								and 40s, including cult favourite Jeny Howorth and actor Chloë Sevigny.
							</p>
						</div>
						<div class="blog__details__quote">
							<div class="icon">
								<i class="fa fa-quote-left"></i>
							</div>
					 		<p>
					 			Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat.
							</p>
						</div>
						<div class="blog__details__desc">
							<p>
								Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
								laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								dolor in reprehenderit in voluptate.
							</p>
						</div>
						<div class="blog__details__tags">
							<a href="#">Fashion</a>
							<a href="#">Street style</a>
							<a href="#">Diversity</a>
							<a href="#">Beauty</a>
						</div>
						<div class="blog__details__btns">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="blog__details__btn__item">
										<h6>
											<a href="#">
												<i class="fa fa-angle-left"></i>
												Previous posts
											</a>
										</h6>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="blog__details__btn__item blog__details__btn__item--next">
										<h6>
											<a href="#">
												Next posts
												<i class="fa fa-angle-right"></i>
											</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="blog__details__comment">
							<h5>3 Comment</h5>
							<a href="#" class="leave-btn">Leave a comment</a>
							<div class="blog__comment__item">
								<div class="blog__comment__item__pic">
									<img src="img/blog/details/comment-1.jpg" alt="">
								</div>
								<div class="blog__comment__item__text">
									<h6>Brandon Kelley</h6>
									<p>
										Duis voluptatum. Id vis consequat consetetur dissentiet, ceteros commune perpetua
										mei et. Simul viderer facilisis egimus tractatos splendi.
									</p>
									<ul>
										<li>
											<i class="fa fa-clock-o"></i>
											Seb 17, 2019
										</li>
										<li>
											<i class="fa fa-heart-o"></i>
											12
										</li>
										<li>
											<i class="fa fa-share"></i>
											1
										</li>
									</ul>
								</div>
							</div>
							<div class="blog__comment__item blog__comment__item--reply">
								<div class="blog__comment__item__pic">
									<img src="img/blog/details/comment-2.jpg" alt="">
								</div>
								<div class="blog__comment__item__text">
									<h6>Brandon Kelley</h6>
									<p>
										Consequat consetetur dissentiet, ceteros commune perpetua mei et. Simul viderer
										facilisis egimus ulla mcorper.
									</p>
									<ul>
										<li>
											<i class="fa fa-clock-o"></i>
											Seb 17, 2019
										</li>
										<li>
											<i class="fa fa-heart-o"></i>
											12
										</li>
										<li>
											<i class="fa fa-share"></i>
											1
										</li>
									</ul>
								</div>
							</div>
							<div class="blog__comment__item">
								<div class="blog__comment__item__pic">
									<img src="img/blog/details/comment-3.jpg" alt="">
								</div>
								<div class="blog__comment__item__text">
									<h6>Brandon Kelley</h6>
									<p>
										Duis voluptatum. Id vis consequat consetetur dissentiet, ceteros commune perpetua
										mei et. Simul viderer facilisis egimus tractatos splendi.
									</p>
									<ul>
										<li>
											<i class="fa fa-clock-o"></i>
											Seb 17, 2019
										</li>
										<li>
											<i class="fa fa-heart-o"></i>
											12
										</li>
										<li>
											<i class="fa fa-share"></i>
											1
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<form id="addTrainerForm" th:action="@{/user/addTrainer}" method="post">
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="trainerNickname">닉네임</label>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userId">아이디</label>
					<div class="col-md-9 col-sm-9 ">
						<input type="text" class="form-control" name="userId" th:value="${sessionId}">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="trainerPicture">프로필 사진	</label>
					<div class="col-md-9 col-sm-9 ">
						<input type="text" class="form-control" name="trainerPicture" placeholder="원래는 사진 첨부 파일  그냥 img 입력 바람">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-sm-8  offset-md-4">
						<a th:href="@{/}">
							<button type="button" class="btn btn-primary">취소</button>
						</a>
						<button type="button" id="addTrainertBtn" class="btn btn-success">등록</button>
					</div>
				</div>
			</form>
		</div>
	</th:block>
</html>