<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 Css -->
<th:block layout:fragment="customCss">
</th:block>

<!-- 사용자 정의 Js 파일-->
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</th:block>


<th:block layout:fragment="customContents">

	<!-- Breadcrumb Begin -->
	<div class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__links">
						<a th:href="@{/user}">
							<i class="fa fa-home"></i>
							Home
						</a>
						<span>구인리스트</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<!-- 트레이너 목록 -->
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="section-title">
					<h4>새로운 </h4>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">

			</div>

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-2">
						<div class="form-row form-group">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<select class="form-control" name="city">
									<option value="">지역 전체</option>
									<th:block th:if="${not #lists.isEmpty(areaList)}" th:each="area : ${areaList}">
										<option th:value="${area.areaCd}">[[${area.areaNm}]]</option>
									</th:block>
									<th:block th:unless="${not #lists.isEmpty(areaList)}">
										<option value="">서비스 준비중입니다.</option>
									</th:block>
								</select>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<select class="form-control" name="sports">
									<option value="">종목 전체</option>
									<th:block th:if="${not #lists.isEmpty(sportsList)}"
										th:each="sports : ${sportsList}">
										<option th:value="${sports.sportsName}">[[${sports.sportsName}]]</option>
									</th:block>
									<th:block th:unless="${not #lists.isEmpty(sportsList)}">
										<option> 서비스 준비중입니다. </option>
									</th:block>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10">
						<div class="row form-group">
							<div class="col-sm-4 offset-8">
								<select class="form-control">
									<option value="job.latest_order">최신순</option>
									<option value="job.popularity_order">인기순</option>
									<option value="job.old_order">오래된순</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="row property__gallery">

			<div class="col-lg-12 col-md-12">
				<div class="row" id="offerList">
					<div class="col-lg-4 col-md-6" th:if="${not #lists.isEmpty(offerList)}"
						th:each="offer : ${offerList}">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								data-setbg="https://mblogthumb-phinf.pstatic.net/MjAyMDAzMDlfMTYg/MDAxNTgzNzQwODYzMzIx.G-mQe-KfVzbCEFQ3G0BAKEgzpSPMODgh7XbgsvMH55Ug._8IceGlMEBy41Qum1DCtyZPDBPmwn-EKZ7QUCdpGpL4g.JPEG.6406dud/skysports-bukayo-saka-arsenal_4923293.jpg?type=w800"
								style="background-image: url(&quot;img/shop/shop-1.jpg&quot;);">
								<div class="label new">New</div>
								<ul class="product__hover">
									<li><a href="img/shop/shop-1.jpg" class="image-popup"><span
												class="arrow_expand"></span></a></li>
									<li><a href="#"><span class="icon_heart_alt"></span></a></li>
									<li><a href="#"><span class="icon_bag_alt"></span></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6><a th:href="@{/offer/offerDetail(lessonOfferCd=${offer.lessonOfferCd})}"
										th:text="${offer.offerTitle}"></a></h6>
								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product__price">[[${offer.offerState}]]</div>
							</div>
						</div>
					</div>


					<div class="col-lg-4 col-md-6" th:unless="${not #lists.isEmpty(offerList)}">
						<div class="product__item">
							<div class="product__item__text">
								<div>
									<strong>서비스 준비중입니다...</strong>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>

	<script>
		const cityList = [
			['', '전체'],
			['11', '전체', '강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
			['21', '전체', '강서구', '금정구', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구', '기장군'],
			['22', '전체', '남구', '달서구', '동구', '북구', '서구', '수성구', '중구', '달성군'],
			['23', '전체', '계양구', '남구', '남동구', '동구', '부평구', '서구', '연수구', '중구', '강화군', '옹진군'],
			['24', '전체', '광산구', '남구', '동구', '북구', '서구'],
			['25', '전체', '대덕구', '동구', '서구', '유성구', '중구'],
			['26', '전체', '남구', '동구', '북구', '중구', '울주군'],
			['27', '전체', '고양시', '과천시', '광명시', '구리시', '군포시', '남양주시', '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안양시', '오산시', '의왕시', '의정부시', '평택시', '하남시', '가평군', '광주시', '김포시', '안성시', '양주군', '양평군', '여주군', '연천군', '용인시', '이천군', '파주시', '포천시', '화성시'],
			['28', '전체', '강릉시', '동해시', '삼척시', '속초시', '원주시', '춘천시', '태백시', '고성군', '양구군', '양양군', '영월군', '인제군', '정선군', '철원군', '평창군', '홍천군', '화천군', '황성군'],
			['29', '전체', '제천시', '청주시', '충주시', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '진천군', '청원군'],
			['30', '전체', '공주시', '보령시', '서산시', '아산시', '천안시', '금산군', '논산군', '당진군', '부여군', '서천군', '연기군', '예산군', '청양군', '태안군', '홍성군'],
			['31', '전체', '서귀포시', '제주시', '남제주군', '북제주군'],
			['32', '전체', '광양시', '나주시', '목포시', '순천시', '여수시', '여천시', '강진군', '고흥군', '곡성군', '구례군', '담양군', '무안군', '보성군', '신안군', '여천군', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군'],
			['33', '전체', '경산시', '경주시', '구미시', '김천시', '문겅시', '상주시', '안동시', '영주시', '영천시', '포항시', '고령군', '군위군', '봉화군', '성주군', '영덕군', '영양군', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군'],
			['34', '전체', '거제시', '김해시', '마산시', '밀양시', '사천시', '울산시', '진주시', '진해시', '창원시', '통영시', '거창군', '고성군', '남해군', '산청군', '양산시', '의령군', '창녕군', '하동군', '함안군', '함양군', '합천군'],
			['35', '전체', '군산시', '김제시', '남원시', '익산시', '전주시', '정읍시', '고창군', '무주군', '부안군', '순창군', '완주군', '임실군', '장수군', '진안군']
		];


		const city = $('select[name="city"]');
		const sports = $('select[name="sports"]');

		const cityAndSports = ['', ''];

		city.on('change', function (event) {
			console.log('city onchange');
			let cityArray = [];

			//console.log(cityArray.length);

			for (let i = 0; i < cityList.length; i++) {
				for (let j = 0; j < cityList[i].length; j++) {
					if (event.target.value == cityList[i][0]) {
						cityArray.push(cityList[i][j]);
					}
				}
				if (cityArray.length > 0) {
					break;
				}
			}
			// 지역별 
			/* 	
				console.log(cityArray);
			$('select[name=country] *').remove();
			let target = $('select[name=country]');
			
			for(let i = 1; i < cityArray.length; i++){
				target.append('<option value='+cityArray[i]+'>'+cityArray[i]+'</option>');
			}
			console.log(cityArray[0]); */
			cityAndSports[0] = event.target.value;
			console.log(cityAndSports);
			ajaxSubmit();
		});


		sports.on('change', function (e) {
			cityAndSports[1] = e.target.value;
			ajaxSubmit();
		})


		const ajaxSubmit = () => {

			console.log('ajax data : ', cityAndSports);
			let area = cityAndSports[0];
			let sports = cityAndSports[1];
			$.ajax({
				type: 'GET',
				url: '/offer/offers/city',
				data: {
					areaCd: area,
					sportsName: sports
				}
			}).done(function (data) {
				console.log(data);
				$('#offerList').replaceWith(data);
				//createHtml(data);
			}).fail(function (error) {
				console.log(JSON.stringify(error));
			})
		}




	</script>
</th:block>

</html>