<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
	<!-- 이런식으로 넣으면 되겠죠? -->
	<div th:replace="fragments/categories :: categoriesFragment"></div>
	
		<form th:action="@{/notification/subscribe(id='id001')}">
			<button type="submit">전송</button>
		</form>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	</th:block>

</html>