<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/adminDefault}">
  <!-- 사용자 정의 title -->
  <th:block layout:fragment="customTitle">
     <title th:text="${title}"></title>
  </th:block>

<!-- 사용자 정의Contents -->
<th:block layout:fragment="customContents">
	<div class="title_left">
	<h3>구장목록</h3>
	</div>
	
	<div class="clearfix"></div>
	<div class="row" style="display: block;">
		<div class="col-md-12 col-sm-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>시설 내 구장 조회</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="table-responsive">
						<table class="table table-striped jambo_table bulk_action table-bordered">
							<thead>
								<tr class="headings">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">시설명</th>
									<th class="column-title">구장명</th>
									<th class="column-title">종목</th>
									<th class="column-title">등록자 아이디</th>
									<th class="column-title">주중가</th>
									<th class="column-title">야간가</th>
									<th class="column-title">공휴일가</th>
									<th class="column-title">구장상세정보</th>
									<th class="column-title">등록 일자</th>
									<th class="column-titleno-link last"><span class="nobr">정보수정</span></th>
									<th class="column-titleno-link last"><span class="nobr">단가수정</span></th>
									<th class="column-titleno-link last"><span class="nobr">삭제</span></th>
									<th class="bulk-actions" colspan="7">
										<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(adminStadiumListByCd)}" th:each="l:${adminStadiumListByCd}">
									<td class="a-center ">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text ="${l.facility.facilityNm}"></td>
									<td th:text ="${l.facilityStadiumNm}"></td>
									<td th:text ="${l.sports.sportsName}"></td>
									<td th:text ="${l.userId}"></td>
									<td th:text ="${l.stadiumPrice.dayPrice}"></td>
									<td th:text ="${l.stadiumPrice.nightPrice}"></td>
									<td th:text ="${l.stadiumPrice.holPrice}"></td>
									<td th:text ="${l.facilityStadiumDetail}"></td>
									<td th:text ="${l.facilityStadiumRegDate}"></td>
									<td>
										<a th:href="@{/stadium/modifyStadium(facilityStadiumCd=${l.facilityStadiumCd})}">수정</a>
									</td>
									<td>
										<a th:href="@{/stadium/modifyStadiumPrice(facilityStadiumCd=${l.facilityStadiumCd})}">수정</a>
									</td>
									<td>
										<a href="#">삭제</a>
									</td>
								</tr>
								<tr th:unless="${not #lists.isEmpty(adminStadiumListByCd)}">
									<td colspan="9">조회된 내용이 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	</th:block>

</html>	
	