<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
   <title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 Js 파일-->
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
 	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9c5dbc5a281ccc90ee278e75316bee9c&libraries=services,clusterer,drawing"></script>
</th:block>


<th:block layout:fragment="customContents">

  <div class="breadcrumb-option">
  <th:block th:if="${not #lists.isEmpty(stadiumDetail)}" th:each="l : ${stadiumDetail}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#">shop</a>
                        <span><a th:text="${l.facilityStadiumNm}"></a></span>
                    </div>
                </div>
            </div>
        </div>
  	</th:block>
    </div>





<!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
             <th:block th:if="${not #lists.isEmpty(stadiumDetail)}" th:each="l : ${stadiumDetail}">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <th:block th:if="${not #lists.isEmpty(l.tFile)}" th:each="t, i : ${l.tFile}">
	                            <a class="pt active" th:data-img="${t.representImg}" th:href="@{#product-} + ${i.index+1}">
	                                <img th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
	                            </a>
                            </th:block>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                            	<th:block th:if="${not #lists.isEmpty(l.tFile)}" th:each="t, i : ${l.tFile}">
		                                <img th:data-hash="@{product-} + ${i.index+1}" class="product__big__img" th:src="@{'/' + ${#strings.replace(t.storedFilePath,'\','/')}}" alt="">
		                        </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3 th:text="${l.facilityStadiumNm}"></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div style="margin: 20px 0 70px 0;">
	                        <h5 th:text="${l.facility.facilityNm}" style="margin-bottom: 10px;"></h5>
	                        <p th:text="${l.facility.facilityAddr} + ' ' +${l.facility.facilityDetailAddr}" style="font-size : medium; margin: 0px;" ></p>
                      	</div>
                        <div class="product__details__button">
                            <a th:href="@{/facility/facilityDetail(facilityCd=${l.facilityCd})}" class="cart-btn"><span class="icon_bag_alt"></span> 시설방문</a> 
                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
	                        <ul class="nav nav-tabs" role="tablist">
	                            <li class="nav-item">
	                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">구장예약</a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" id="mapTab">위치안내</a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">후기</a>
	                            </li>
	                        </ul>
	                        <div class="tab-content">
	                            <div class="tab-pane active" id="tabs-1" role="tabpanel">	           
	                                <section class="checkout spad" style="padding-top: 20px;">
								        <div class="container">
								            <form action="#" class="checkout__form">
								                <div class="row">
								                    <div class="col-lg-8" style="padding-bottom: 25px;">
								                        <h5>구장정보</h5>
								                        <div class="row">
								                            <div class="col-lg-6 col-md-6 col-sm-6">
								                                <div class="checkout__form__input">
									                                <p th:text="${l.facilityStadiumDetail}"></p>
								                                </div>
								                                <div class="checkout__form__input">
									                                 <p th:text="${l.facility.facilityTell}"></p>
								                                </div>
								                            </div>
								                       </div>
								                    </div>
								                    <div class="col-lg-8">
								                        <h5>구장예약</h5>
								                        <div class="row">
								                       </div>
								                        <div class="row">
								                            <div class="col-lg-12 col-md-8 col-sm-6">
								                                <input type="date" class="form-control" name="reservationStadium">
								                            </div>
								                       </div>
								                    </div>
							                        <div class="col-lg-4">
							                            <div class="checkout__order">
							                                <h5>Your order</h5>
							                                <div class="checkout__order__product">
							                                    <ul>
							                                        <li>
							                                            <span class="top__text">Product</span>
							                                            <span class="top__text__right">Total</span>
							                                        </li>
							                                        <li>01. Chain buck bag <span>$ 300.0</span></li>
							                                    </ul>
							                                </div>
							                                <div class="checkout__order__total">
							                                    <ul>
							                                        <li>Subtotal <span>$ 750.0</span></li>
							                                        <li>Total <span>$ 750.0</span></li>
							                                    </ul>
							                                </div>
							                                <div class="checkout__order__widget">
							                                    <label for="o-acc">
							                                        Create an acount?
							                                        <input type="checkbox" id="o-acc">
							                                        <span class="checkmark"></span>
							                                    </label>
							                                </div>
							                                <button type="submit" class="site-btn">예약하기</button>
							                            </div>
							                        </div>
								                </div>
								            </form>
								        </div>
								    </section>
	                            </div>
	                            <div class="tab-pane" id="tabs-2" role="tabpanel">
	                                <h6><i class="fa fa-map-marker"></i>위치정보</h6>
	                                <p th:text="${l.facility.facilityAddr} + ' ' + ${l.facility.facilityDetailAddr}" ></p>
                             		<div class="x_content">
										<div class="table-responsive">
												<input type="hidden" th:value ="${l.facility.facilityAddr}" class="placeAddr">
												<input type="hidden" th:value ="${l.facility.facilityNm}" class="placeName">
												<input type="hidden" th:value ="${l.facility.facilityCd}" class="placeCode">
										</div>
									</div>
	                                <div>
										<p style="margin-top:-12px">
											<em class="link">
												<a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
													혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
												</a>
											</em>
										</p>
										<div id="map" style="width:100%; height:500px;"></div>
									</div>
	                            </div>
	                            <div class="tab-pane" id="tabs-3" role="tabpanel">
	                                <h6>Reviews ( 2 )</h6>
	                                <p></p>
	                            </div>
	                        </div>
                   	 	</div>
                    </div>
                </th:block>    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Buttons tweed blazer</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Product Details Section End -->


<script th:src="@{/resource/js/map.js}"></script>


</th:block>	  
	  
</html>