<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.form-group{margin-top: 30px;}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<!-- 주소검색 API -->
		<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
		<script th:src="@{/resource/js/searchAddr.js}"></script>	
		<script>
			/* 아이디 중복 여부 검사 */
			$(function(){
				
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null){
						return false;
					}
					return true;
				}
				
				$(document).on('keyup', '#userId', function(){
					$('#addUserForm input').not('#userId').prop('disabled', true);
					$('#addUserForm select').prop('disabled', true);
					$('#addUserForm button').not('#idCheck, #cancleBtn').prop('disabled', true);
				});
				
				$('#idCheck').click(function(){
					var userId = $('input[name="userId"]').val();
					
					var vCheck = validationCheck(userId);
					
					if(vCheck){
						$.ajax({
							 url: '/user/idCheck'
							,type: 'POST'
							,data: {'userId' : userId}
							,dataType: 'json'
							,success: function(data){
								console.log(data);
								// 화면에서 맨처음 아이디를 제외한 모든 입력하는 요소는 비활성화 (HTML 속성 추가 disabled="disabled") 
								// 아이디 중복이 발생 않은 경우(회원가입 O) 입력하는 요소는 활성화
								if(data){
									$('#idCheckResult').text('사용 가능한 아이디 입니다.');
									$('#idCheckResult').css('color','blue');
									$('#addUserForm input').prop('disabled', false);
									$('#addUserForm select').prop('disabled', false);
									$('#addUserForm button').prop('disabled', false);
								}else{									
									// 아이디 중복이 발생하는 경우(회원가입 X) 입력하는 요소는 비활성화
									$('#idCheckResult').text('중복된 아이디가 있습니다.');
									$('#idCheckResult').css('color','red');
									$('#addUserForm input').not('input[name="userId"]').prop('disabled', true);
									$('#addUserForm button').not('#idCheck, #cancleBtn').prop('disabled', true);
									$('#addUserForm select').prop('disabled', true);
								}
							}
						});
					}
					
				});
				
				/* 회원가입시 유효성 검사 */
				$('#addUserBtn').click(function(){
					var inputObj = $('#addUserForm').find('input');
					
					$.each(inputObj, function(){
						var inputData = $(this).val();
						var result = validationCheck(inputData);
						
						// 사용자가 입력하지 않은 경우
						if(!result){
							alert('필수 항목입니다. 입력해주세요');
							$(this).focus();
							return false;
						}
					});
					
				});
			});
		</script>
	</th:block>
	
	 
	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/user}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<span>addUser</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 회원가입 -->
		<div class="container">
			<form id="addUserForm" th:action="@{/user/addUser}" method="post">
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userId">아이디
						<span class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" id="userId" name="userId" placeholder="아이디 입력" required>
					</div>
					<div class="col-md-3 col-sm-3">
						<button type="button" class="btn-primary form-control" id="idCheck">중복체크</button>
					</div>
					<div class="offset-md-3" style="padding-left: 15px;">
						<span id="idCheckResult"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userPw">비밀번호
						<span class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9 ">
						<input type="password" class="form-control" name="userPw" placeholder="비밀번호 입력" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userName">이름
						<span class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9 ">
						<input type="text" class="form-control" name="userName" placeholder="이름 입력" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userGender">성별
						<span class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="userGender" id="inlineRadio1" value="남" checked>
							<label class="form-check-label" for="inlineRadio1">남</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="userGender" id="inlineRadio2" value="여">
							<label class="form-check-label" for="inlineRadio2">여</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userBirth">생년월일
						<span class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9 ">
						<input type="date" class="form-control" name="userBirth" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userEmail">이메일
						<span class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9">
						<input type="email" class="form-control" name="userEmail" placeholder="이메일 입력" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userPostNum">회원 주소
						<span class="required">*</span>
					</label>
					<div class="col-md-5 col-sm-5">
						<input type="text" class="form-control" name="userPostNum" id="userPostNum" placeholder="우편번호"  readonly>
					</div>
					<div class="col-md-3 col-sm-3">
						<button type="button" class="btn btn-info" id="postNum" onclick="searchAddForm()">우편번호찾기</button>
					</div>
				</div>
				<div class="form-group row">
					<div class="offset-md-3 col-md-9">
						<input type="text" class="form-control" id="userAddr" name="userAddr" placeholder="주소" readonly="readonly" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="offset-md-3 col-md-9">
						<input type="text" class="form-control" name="userDetailAddr" id="userDetailAddr" placeholder="상세주소">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userTell">휴대전화
						<span class="required">*</span>
					</label>
					<div class="col-md-9 col-sm-9">
						<input type="text" class="form-control" name="userTell" placeholder="휴대폰번호 입력" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3 col-sm-3" for="userRegPath">가입 경로
						<span class="required"></span>
					</label>
					<div class="col-md-9 col-sm-9">
						<select class="form-control" name="userRegPath">
							<option value="">선택</option>
							<option value="검색">검색</option>
							<option value="추천">추천</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-sm-8  offset-md-4">
						<a th:href="@{/}">
							<button type="button" id="cancleBtn" class="btn btn-primary">취소</button>
						</a>
						<button type="submit" id="addUserBtn" class="btn btn-success" disabled="disabled">등록</button>
					</div>
				</div>
			</form>
		</div>
	</th:block>
</html>