<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">	
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<style>
			.form-group{margin-top: 30px;}
		</style>
	</th:block>
	
	<!-- 사용자 정의 Js 파일-->
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript">
		</script>
	</th:block>
	
	 
	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option" th:fragment="breadcrumbFragment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a th:href="@{/}">
								<i class="fa fa-home"></i>
								Home
							</a>
							<a th:href="@{/user/userDetail}">
								userDetail
							</a>
							<span>modifyUserPw</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->
	
		<!-- 비밀번호 변경 -->
		<div class="container">
			<h2>회원 비밀번호 변경</h2>
			<div class="clearfix"></div>
			<form th:action="@{/user/modifyUserPw}" method="post">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col" style="width: 13%;">#</th>
							<th scope="col">회원관리</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">회원 정보</th>
							<td>
								<div class="form-group row">
									<div class="col-md-2 col-sm-2">
										<label class="control-label" for="userId">아이디</label>
									</div>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" class="form-control" name="userId" th:value="${user.userId}" readonly="readonly">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-2 col-sm-2">
										<label class="control-label" for="nowUserPwCheck">현재 비밀번호</label>
									</div>
									<div class="col-md-6 col-sm-6 ">
										<input type="password" class="form-control" name="nowUserPwCheck">
									</div>
								</div>
								<div th:if="${not #strings.isEmpty(result)}">
									<p th:text="${result}" style="color: red;"></p>
								</div>
								<div class="form-group row">
									<div class="col-md-2 col-sm-2">
										<label class="control-label" for="userPw">새 비밀번호</label>
									</div>
									<div class="col-md-6 col-sm-6 ">
										<input type="password" class="form-control" name="userPw">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-2 col-sm-2">
										<label class="control-label" for="userPwCheck">비밀번호 확인</label>
									</div>
									<div class="col-md-6 col-sm-6 ">
										<input type="password" class="form-control" name="userPwCheck">
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-md-8 col-sm-8  offset-md-4">
						<a th:href="@{/user/userDetail}">
							<button type="button" class="btn btn-primary" id="cancelButton">취소</button>
						</a>
						<button type="submit" class="btn btn-info">저장</button>
					</div>
				</div>
			</form>
		</div>
			
	</th:block>
</html>