<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="leftmenuFragment">
		<div class="menu_section">
			<h3>관리자페이지</h3>
			<ul class="nav side-menu">
				<li><a><i class="fa fa-hand-o-right"></i> 페이지 이동 <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/user}">사용자 페이지</a></li>
						<li><a th:href="@{/}">관리자 페이지</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-bank"></i> 시설관리(정다운) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/adminFacility/addFacility}">시설등록</a></li>
						<li><a th:href="@{/adminFacility/adminFacilityList}">전체시설목록</a></li>
						<li><a th:href="@{/adminFacility/adminFacilityListById}">시설목록(시설관리자)</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-table"></i> 레슨관리(김선원) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/admin/addGoods(goodsCtgCd=lesson)}">lesson추가</a></li>
						<li><a th:href="@{/lesson/facilityLessonList}">시설 내 레슨 조회</a></li>
						<li><a href="#">시설 내 레슨 예약 현황</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-tag"></i> 이용권관리(위찬복) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/pass/addPass}">이용권</a></li>
						<li><a th:href="@{/pass/admin/passList}">전체이용권(관리자)목록</a></li>
						<li><a th:href="@{/pass/passList}">이용권(시설관리자)목록</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-clone"></i> 구장관리(정다운) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/stadium/addStadium}">구장등록</a></li>
						<li><a th:href="@{/stadium/adminStadiumList}">전체구장목록</a></li>
						<li><a th:href="@{/stadium/adminStadiumListByCd}">구장목록(시설관리자)</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-medkit"></i> 안전점검(김지혜) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/safety/addSafety}">안전점검 등록</a></li>
						<li><a th:href="@{/safety/safetyList}">안전점검 등록 전체 시설 목록</a></li>
						<li><a th:href="@{/safety/safetyListById}">안전점검 등록 시설 목록(시설관리자)</a></li>
						<li><a th:href="@{/safety/safetyResultList}">전체 시설 안전점검 결과 목록</a></li>
						<li><a th:href="@{/safety/safetyResultListById}">시설 안전점검 결과 목록(시설관리자)</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-shopping-cart"></i> 주문목록<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/admin/order/orderList}">주문리스트</a></li>
					</ul>
				</li>
				<li><a><i class="fa fa-users"></i> 회원관리(강신호) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/user/facilityUser}">시설내회원목록</a></li>
						<li><a th:href="@{/loginHistory}">로그인기록</a></li>
					</ul>
				</li>
				<li>
					<a><i class="fa fa-calendar"></i> 예약관리 <span class="fa fa-chevron-down"></span></a>
				</li>
				<li><a><i class="fa fa-comments-o"></i> 후기관리(정다운) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/review/adminReviewList}">전체후기조회</a></li>
						<li><a th:href="@{/review/adminReviewListById}">시설 후기 조회(시설관리자)</a></li>
					</ul>
				</li>  
				<li><a href="https://github.com/ssinokang/ks43team03"><i class="fa fa-github-square"></i> git</a></li>                
			</ul>
			</div>
		</div>
</html>