<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	  	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	 	 
	<th:block layout:fragment="customContents">
	
		<!-- Breadcrumb Begin -->
	    <div class="breadcrumb-option">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="breadcrumb__links">
	                        <a href="./index"><i class="fa fa-home"></i> Home</a>
	                        <span>point</span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		<!-- Breadcrumb End -->
	
		<section class="shop-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shop__cart__table">
							<table class="table">
								<thead>
									<tr>
										<th id="event_detail">이벤트 내용</th>
										<th id="apply_point_amount">적립 금액</th>
										<th id="apply_date">적용 날짜</th>
										<th id="total_point">총 포인트</th>
									</tr>
								</thead>
								<tbody id="boardBody">
									<tr th:if="${not #lists.isEmpty(pointList)}" th:each="l : ${pointList}">
										<input type="hidden" th:value="${l.applyPointGroupCd}">
										<td th:text="${l.eventDetail}"></td>
										<td th:text="${l.applyPointAmount}"></td>
										<td th:text="${l.applyDate}"></td>
										<td th:text="${l.totalPoint}"></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(pointList)}">
										<td colspan="4">조회된 내용이 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
</html>